
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>



  <style>

        div.scroll {
            max-height: 500px;
            overflow: scroll;
        }

    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>smart hrms</title>
  <meta content="" name="description">
  <meta content="" name="keywords">





  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" >
  <link rel="stylesheet" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/vendor/quill/quill.snow.css'%}">
  <link rel="stylesheet" href="{% static 'assets/vendor/quill/quill.bubble.css'%}" >
  <link rel="stylesheet" href="{% static 'assets/vendor/remixicon/remixicon.css'%}" >
  <link rel="stylesheet" href="{% static 'assets/vendor/simple-datatables/style.css' %}" >

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

<style>
    body{
    font-family:poppins;
    }
</style>
</head>



<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
                                  <img src={% static "logo/snc.png" %} alt="does not found"  width="70" style="max-height:49px !important">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->



{% if messages %}
                    <li class="messages">
                      {% for message in messages %}
                     <center><h6 style="height:50px;width:650px;margin-left:-92%" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6></center>
                     {% endfor %}
                        </li>
                   {% endif %}


        
        {%for i in emp%}
             {% if user.is_authenticated %}

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{i.image.url}} " alt="Profile" class="rounded-circle" style="height:45px;width:40px;">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ath_user}}</span>
          </a><!-- End Profile Iamge Icon -->

           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user}}</h6>
              <span>{{i.Role}}</span><br>

               {% if i.user.is_manager == True %}
                <span>category:Manager</span>
                 {% elif i.user.is_hr == True %}
                <span>category:HR</span>
                 {% elif i.user.is_employee == True %}
                <span>category:Employee</span>
              {% else  %}
                <span>category:None</span>


                 {%endif%}

            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
             {% for i in emp %}
            <li>

              <a class="dropdown-item d-flex align-items-center" href="{% url 'details' i.user_id %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>

            </li>{% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>




            <li>
              <hr class="dropdown-divider">
            </li>
               {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
              </a>
            </li>
             {%else%}
             <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Login</span>
              </a>
            </li>
             {%endif%}


          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
         {%endif%}
          {%endfor%}
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'hr_dashboard'%}" data-bs-toggle="tooltip" data-bs-placement="right" title="">
          <i class="bi bi-grid"></i>
          <span>HR Dashboard</span>
        </a>
      </li>



         <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'company_info' %}"  data-bs-toggle="tooltip" data-bs-placement="right" title="">
          <i class="bi bi-building"></i>
          <span>Company Info</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'list_financial_year' %}"  data-bs-toggle="tooltip" data-bs-placement="right" title="">
          <i class="bi bi-calendar"></i>
          <span>Financial Year</span>
        </a>
      </li>



          <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Employees</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

       <ul id="components-nav2" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>

            <a href="{%url 'emp_list' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Employee List</span>
            </a>

              <a href="{%url 'total_employees_manager' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
       </ul></li>



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Leaves</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>

              <a href="{%url 'employee_leaves' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Employee Leaves</span>
            </a>
            <a href="{%url 'employee_details' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Leave Reports</span>
            </a>
          </li>

        </ul>
      </li><!-- End Tables Nav -->





        <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav3" data-bs-toggle="collapse" href="">
        <i class="bi bi-menu-button-wide"></i><span>Organizations</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav3" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a href="{%url 'list_company' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Company</span>
            </a>
            <a href="{%url 'list_department' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Department</span>
            </a>
            <a href="{%url 'list_location' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Location</span>
            </a>
            <a href="{%url 'list_designation' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Designation</span>
            </a>
            <a href="{%url 'list_announcements' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Announcements</span>
            </a>
            <a href="{%url 'list_policy' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Company Policy</span>
            </a>
        </li>
    </ul>
</li>




        <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav5" data-bs-toggle="collapse" href="">
        <i class="bi bi-briefcase"></i><span>Core HR</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav5" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a href="{%url 'list_promotions' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Promotions</span>
            </a>
            <a href="{%url 'list_awards' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Awards</span>
            </a>
            <a href="{%url 'list_travel' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Travel</span>
            </a>
            <a href="{%url 'list_transfer' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Transfer</span>
            </a>
            <a href="{%url 'list_resignation' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Resignation</span>
            </a>
            <a href="{%url 'list_complains' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Complains</span>
            </a>
            <a href="{%url 'list_warnings' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Warnings</span>
            </a>
            <a href="{%url 'list_holidays' %}" style="text-decoration: none;">
                <i class="bi bi-circle"></i><span>Holidays</span>
            </a>

        </li>
    </ul>
</li>



        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_recruitment" data-bs-toggle="collapse" href="">
          <i class="bi bi-person-plus"></i><span>Recruitment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_recruitment" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'list_job_post' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Job Post</span>
            </a>
               <a href="{%url 'list_job_candidate' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Applied Candidates</span>
            </a>
               <a href="{%url 'list_job_interview' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Interviews Schedule</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->






        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_trainee" data-bs-toggle="collapse" href="">
          <i class="bi bi-bar-chart"></i><span>Training</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_trainee" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
              <a href="{%url 'list_trainer' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Trainer</span>
            </a>
              <a href="{%url 'list_training_type' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Training Type</span>
            </a>
              <a href="{%url 'list_training_list' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Training List</span>
            </a>
          </li>


        </ul>
      </li><!-- End Charts Nav -->



        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_events" data-bs-toggle="collapse" href="">
          <i class="bi bi-calendar2-week"></i><span>Events&Meetings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_events" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'list_events' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Events</span>
            </a>
             <a href="{%url 'list_meetings' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Meetings</span>
            </a>

          </li>


        </ul>
      </li>


<li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_inbox" data-bs-toggle="collapse" href="">
          <i class="bi bi-envelope"></i><span>Inbox</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_inbox" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'compose' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Inbox</span>
            </a>


          </li>


        </ul>
      </li>



        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_ticket" data-bs-toggle="collapse" href="">
          <i class="bi bi-ticket"></i><span>Ticket</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_ticket" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'tickets_reports_admin' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Ticket</span>
            </a>
              <a href="{%url 'tickets_reports_admin_data' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>All Ticket</span>
            </a>


          </li>


        </ul>
      </li>



        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_expenses" data-bs-toggle="collapse" href="">
          <i class="bi bi-cash"></i><span>Expenses</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_expenses" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'expenses_reports_admin' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Expenses</span>
            </a>
              <a href="{%url 'expenses_reports_admin_data' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>All Expenses</span>
            </a>


          </li>


        </ul>
      </li>


        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components_nav_assets" data-bs-toggle="collapse" href="">
          <i class="bi bi-briefcase"></i><span>Assets</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components_nav_assets" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'list_category' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Assets Category</span>
            </a>
               <a href="{%url 'list_assets' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Assets</span>
            </a>
          </li>


        </ul>
      </li><!-- End Charts Nav -->

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Project Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="{%url 'list_clients' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Client</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_project' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Projects</span>
            </a>
          </li>

        </ul>
      </li><!-- End Icons Nav -->
        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Attendance Management System</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="{%url 'hr_attendance' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Attendance Filter</span>
            </a>
          </li>
          <li>
            <a href="{% url 'hr_attendance_records_week' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Week-wise Attendance </span>
            </a>
          </li>

        </ul>
      </li><!-- End Icons Nav -->




              <li class="nav-heading">PROJECT MANAGEMENT</li>




        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'hr_my_tasks' %}" data-bs-toggle="tooltip" data-bs-placement="right" title="">
          <i class="bi bi-grid"></i>
          <span>Dashboards</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'list_tasks_hr' %}" data-bs-toggle="tooltip" data-bs-placement="right" title="">
          <i class="bi bi-list-task"></i>
          <span>My Tasks</span>
        </a>
      </li>



        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Task Customization</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="{%url 'list_source' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Source</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_priority' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Priority</span>
            </a>
          </li>
          <li>
            <a href="{% url 'list_status' %}" style="text-decoration: none;">
              <i class="bi bi-circle"></i><span>Status</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->





      <li class="nav-heading">Pages</li>














      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->
      {% else%}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      {%endif%}


    </ul>


  </aside><!-- End Sidebar-->



  <!-- Template Main JS File -->
  <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>


{% block content %}
{%endblock%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>




<!-- ... Your HTML code ... -->



<script>
  jQuery(function($) {
    var path = window.location.href;    
    $('ul a').each(function() {
      if (this.href === path) {
        $(this).addClass('active');


        $(this).parents('.nav-content').addClass('show');
        $(this).parents('li.nav-item').addClass('show');
      }
    });

    // Collapse all submenus initially
    $('ul.nav-content').removeClass('show');

    // Initialize tooltips
    $('[data-bs-toggle="tooltip"]').tooltip();
  });
</script>

<!-- ... Your HTML code ... -->

<script>
  jQuery(function($) {
    var path = window.location.href;
    var clicked = false;

    $('ul a').each(function() {
      if (this.href === path) {
        $(this).addClass('active');
        clicked = true;

        // Expand the parent submenu
        $(this).parents('.nav-content').addClass('show');
        $(this).parents('li.nav-item').addClass('show');
      }
    });

    // If no link is clicked, collapse all submenus
    if (!clicked) {
      $('ul.nav-content').removeClass('show');
    }

    // Initialize tooltips
    $('[data-bs-toggle="tooltip"]').tooltip();
  });
</script>



<script>
      $(document).ready(function() {
          setTimeout(function() {
              $('.messages').fadeOut('slow');
          }, 3000);
      });
   </script>




