
 {%extends 'hr/base.html'%}

{%block content%}







  <head>

        <title>smart hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!-- Add Bootstrap CSS link -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <style>





        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{
  color:red;
}




#general{
  color: orange;
}

table{
  border:1px solid black;
   }

.modal-backdrop{
    --bs-backdrop-bg: #00000094;
}








    </style>


<style>
/* Style the custom select container */
.custom-select {
  position: relative;
}

/* Style the select wrapper to create a custom dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;




  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the select element to make it transparent and positioned over the custom dropdown */
.custom-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select element transparent */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the custom dropdown arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 8px;
}

/* Style the custom dropdown when it's focused or hovered */
.select-wrapper:hover,
.select-wrapper:focus {
  border-color: #007bff; /* Change border color on hover or focus */
}



</style>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>



<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke; padding-top: 50px; padding-right: 1px; padding-bottom: 50px; padding-left: 50px;" >







<div class="col-xl-12">
    <div class="tab-content" id="v-pills-tabContent">



                         <div class="tab-pane fade show active" id="v-pills-mytasks" role="tabpanel" aria-labelledby="v-pills-mytasks-tab" tabindex="0" style=" padding-top: 10px; padding-right: 40px; padding-bottom: 50px; padding-left: 2px;">

                        <h3 style="color:#1E7CCF ;font-family:math"><b>Add Task</b></h3>
                         <hr>





                                         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mytasks">
                                             Add Task
                                           </button><p></p>

                                           <div class="table-responsive">
                                           <table id="mytasks-table" class="table">

                                           <thead>
                                           <tr>
                                           <th style="background-color:#EDECEA;">S.No</th>
                                           <th style="background-color:#EDECEA;">Title</th>
                                           <th style="background-color:#EDECEA;">Project</th>
                                           <th style="background-color:#EDECEA;">Start Date</th>
                                           <th style="background-color:#EDECEA;">Deadline</th>
                                           <th style="background-color:#EDECEA;">Priority</th>
                                           <th style="background-color:#EDECEA;">Employee</th>
                                           <th style="background-color:#EDECEA;">Status</th>
                                           <th style="background-color:#EDECEA;">Source</th>
                                           <th style="background-color:#EDECEA;" class="not-exported">action</th>
                                           </tr>
                                           </thead>




      <tbody>
                      {%for mytasks in data48%}



                          <tr>
                               <td>{{ forloop.counter }}</td>
                          <td>{{mytasks.title}}

                          </td>
                           <td>{{mytasks.project}}

                          </td>
                              <td>{{mytasks.start_date}}

                          </td>
                              <td>{{mytasks.end_date}}

                          </td>
                              <td>{{mytasks.priority.priority}}

                          </td>
                              <td>{{mytasks.assign_to}}

                          </td>
                              <td>{{mytasks.status.status}}

                          </td>
                              <td>{{mytasks.source.source}}

                          </td>


                          <td>
                                  <span class="p-relative">

                     <!-- <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                        <ul class="users-item-dropdown dropdown">-->

                          <button type="button" data-bs-toggle="modal" data-bs-target="#update_mytasks" data-record-id="{{mytasks.id}}" value="{{mytasks.id}}" style="
    background-color: #1E7CCF;border-radius:5px;border:none;
"><i class="fa fa-pencil-square-o" style="font-size:27px;color:#FFF;"></i></button>




                                   </span>
                          </td>
                      </tr>
                      {%endfor%}
                   </tbody>





                                           </table>
                                           </div>




                                           <div class="modal fade model-centered custom-modal" id="mytasks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                             <div class="modal-dialog modal-lg">
                                               <div class="modal-content">
                                                 <div class="modal-header">
                                                   <h1 class="modal-title fs-5" id="exampleModalLabel">Holidays</h1>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body">

                                                   <form method="post" id="mytasks_sample_form" class="form-horizontal" autocomplete="off">

                                                       {%csrf_token%}
                                                   <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
                                                   <div class="row">


                                                   <div class="col-md-6 form-group">
                                                   <label><b>Title</b><span class="star">*</span></label>
                                                   <input type="text" name="title" id="title" placeholder="Title" title="" class="form-control" required>
                                                 </div>


                                                    <div class="col-md-6 form-group">
    <label><b>Project</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="project" name="project" class="form-control" required>
      <option value="" disabled selected>Project</option>
        {% for project in projects %}
            <option value="{{ project.id }}">{{ project.title }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="project-error"></span>
    </div>


                                                        <div class="col-md-6 form-group">
    <label><b>Assign To</b><span class="star">*</span></label>
                                                           <div class="select-wrapper">
    <select id="assign_to" name="assign_to" class="form-control" multiple>
      <option value="" disabled selected>Assign To</option>
           {% for i in data1 %}
           {% if i.id != request.user.id %}
            <option value="{{ i.id }}">{{ i.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
                                                       </div>
    <span style="color:red"  class="error-message" id="employee-error"></span>
    </div>














                                           <div class="col-md-6 form-group">
                                           <label><b>Start Date</b><span class="star">*</span></label>
                                           <input type="date" name="start_date" id="start_date" title="" class="form-control" required>
                                         </div>


                                                       <div class="col-md-6 form-group">
                                           <label><b>End Date</b><span class="star">*</span></label>
                                           <input type="date" name="end_date" id="end_date" title="" class="form-control" required>
                                         </div>




  <div class="col-md-6 form-group">
    <label><b>Source</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="source" name="source" class="form-control" required>
      <option value="" disabled selected>Source</option>
        {% for source in data49 %}
            <option value="{{ source.id }}">{{ source.source }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="source-error"></span>
    </div>





  <div class="col-md-6 form-group">
    <label><b>Status</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="status" name="status" class="form-control" required>
      <option value="" disabled selected>Status</option>
        {% for status in data50 %}
            <option value="{{ status.id }}">{{ status.status }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="status-error"></span>
    </div>




  <div class="col-md-6 form-group">
    <label><b>Priority</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="priority" name="priority" class="form-control" required>
      <option value="" disabled selected>Priority</option>
        {% for priority in data51 %}
            <option value="{{ priority.id }}">{{ priority.priority }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="priority-error"></span>
    </div>

                                                       <p></p>

                                                        <div class="col-md-6 form-group">
                                           <label><b>Description</b><span class="star">*</span></label>
                                                            <textarea name="description" id="description" rows="4" title="" class="form-control" required></textarea>
                                         </div>


                                                       <div class="col-md-6 form-group">
                                           <label><b>Comments</b></label>
                                                            <textarea name="comments" id="comments" rows="4" title="" class="form-control"></textarea>
                                         </div>


                                                 <div class="container">
                                                 <div class="form-group" align="center">
                                                 <input type="hidden" name="action" id="mytasks_action">
                                                 <input type="hidden" name="hidden_id" id="mytasks_hidden_id">
                                                 <input type="submit" name="action_button" id="mytasks_action_button" class="btn btn-warning" value="Add">
                                                 </div>
                                                 </div>
                                                 </div>


                                                    </form>




                                                     </div>
                                                     <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                         </div>
                                                   </div>
                                                 </div>
                                               </div>
                                               </div>



                            <div class="modal fade model-centered custom-modal" id="update_mytasks" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_upd">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

                          <form method="post" id="mytasks_sample_form_upd" class="form-horizontal" autocomplete="off">

                                                   <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
                                                   <div class="row">



                                                        <div class="col-md-6 form-group">
                                                   <label><b>Title</b><span class="star">*</span></label>
                                                   <input type="text" name="title" id="title_upd" placeholder="Title" title="" class="form-control" required>
                                                 </div>


                                                    <div class="col-md-6 form-group">
    <label><b>Project</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="project_upd" name="project" class="form-control" required>
      <option value="" disabled selected>Project</option>
        {% for project in projects %}
            <option value="{{ project.id }}">{{ project.title }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="project_upd-error"></span>
    </div>


                                                 <div class="col-md-6 form-group">
                                                 <label><b>Assign To</b><span class="star">*</span></label>
                                                 <input type="text" name="assign_to" id="assign_to_upd" placeholder="" title="" class="form-control" required disabled>
                                               </div>




                                           <div class="col-md-6 form-group">
                                           <label><b>Start Date</b><span class="star">*</span></label>
                                           <input type="date" name="start_date" id="start_date_upd" title="" class="form-control" required>
                                         </div>


                                                       <div class="col-md-6 form-group">
                                           <label><b>End Date</b><span class="star">*</span></label>
                                           <input type="date" name="end_date" id="end_date_upd" title="" class="form-control" required>
                                         </div>





  <div class="col-md-6 form-group">
    <label><b>Source</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="source_upd" name="source" class="form-control" required>
      <option value="" disabled selected>Source</option>
        {% for source in data49 %}
            <option value="{{ source.id }}">{{ source.source }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="source_upd-error"></span>
    </div>







  <div class="col-md-6 form-group">
    <label><b>Status</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="status_upd" name="status" class="form-control" required>
      <option value="" disabled selected>Status</option>
        {% for status in data50 %}
            <option value="{{ status.id }}">{{ status.status }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="status_upd-error"></span>
    </div>






  <div class="col-md-6 form-group">
    <label><b>Priority</b><span class="star">*</span></label>
      <div class="select-wrapper">
    <select id="priority_upd" name="priority" class="form-control" required>
      <option value="" disabled selected>Priority</option>
        {% for priority in data51 %}
            <option value="{{ priority.id }}">{{ priority.priority }}</option>
        {% endfor %}
    </select>
  </div>
    <span style="color:red"  class="error-message" id="priority_upd-error"></span>
    </div>
                                                       <p></p>


                                                        <div class="col-md-12 form-group">
                                                       <label><b>Description:</b></label>
                                                        <textarea name="comments" id="comments1" class="form-control" rows="4" readonly>{{comments}}</textarea></div>






                                                       <div class="col-md-12 form-group">
                                           <label><b>Comments</b><span class="star">*</span></label>
                                                            <textarea name="comments" id="comments_upd" rows="4" title="" class="form-control" required></textarea>
                                         </div>










                                                 <div class="container">
                                                 <div class="form-group" align="center">
                                                 <input type="hidden" name="action" id="mytasks_action_upd">
                                                 <input type="hidden" name="hidden_id" id="mytasks_id">
                                                     <button type="submit" class="btn btn-primary">Update</button>
                                                 </div>
                                                 </div>
                                                 </div>


                                                    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>



                       </div></div>
          </div>
        </div>
    </section>
</main>













    <script>

            $(document).ready(function() {


                 $("#mytasks_sample_form").submit(function(event) {
                     event.preventDefault();


                     var title = $("#title").val();
                     var project = $("#project").val();
                     var assign_to = $("#assign_to").val();
                     var start_date = $("#start_date").val();
                     var end_date = $("#end_date").val();
                     var source = $("#source").val();
                     var status = $("#status").val();
                     var priority = $("#priority").val();
                     var description = $("#description").val();

                     var comments = $("#comments").val();


                        var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                        var data_id = $("#data_id").val();

                          var form48Data = new FormData();
                          form48Data.append('title', title);
                          form48Data.append('project', project);
                          form48Data.append('assign_to', assign_to);
                          form48Data.append('start_date', start_date);
                          form48Data.append('end_date', end_date);
                          form48Data.append('source', source);
                          form48Data.append('status', status);
                          form48Data.append('priority', priority);
                          form48Data.append('description', description);
                          form48Data.append('comments', comments);






                            form48Data.append('data_id', data_id);


                          var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                     $.ajax({
                        type: "POST",
                        url: "{% url 'task_list' %}",

                        data:form48Data,
                         processData: false,  // Prevent jQuery from processing data
                         contentType: false,
                         headers: {
                          "X-CSRFToken": csrfToken
                          },
                        success: function(response) {
                        console.log(response.first_name)
                           alert("data is updated successfully:");
                            $('#my_tasks').modal('hide');
                              location.reload();
                        },
                        error: function(xhr, status, error) {
                           console.error("Error updating item:", error);
                        }
                    });
                });
            });

      </script>

 <script>
     new DataTable('#mytasks-table');
 </script>











<script>
   $(document).ready(function() {
           $('[data-bs-target="#update_mytasks"]').on('click', function() {
           const recordId = $(this).data('record-id');
                $('#mytasks_id').val(recordId);
  })


         $("#mytasks_sample_form_upd").submit(function(event) {
                event.preventDefault();
               var title_upd = $("#title_upd").val();
                     var project_upd = $("#project_upd").val();
                     var assign_to_upd = $("#assign_to_upd").val();
                     var start_date_upd = $("#start_date_upd").val();
                     var end_date_upd = $("#end_date_upd").val();
                     var source_upd = $("#source_upd").val();
                     var status_upd = $("#status_upd").val();
                     var priority_upd = $("#priority_upd").val();
                     var description_upd = $("#description_upd").val();
                     var comments_upd = $("#comments_upd").val();



                  var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                    var data_id = $("#data_id").val();
                        var recordId = $('#mytasks_id').val();

                      var form48Data = new FormData();
                      form48Data.append('title_upd', title_upd);
                      form48Data.append('project_upd', project_upd);
                        form48Data.append('assign_to_upd', assign_to_upd);
                        form48Data.append('start_date_upd', start_date_upd);
                        form48Data.append('end_date_upd', end_date_upd);
                        form48Data.append('source_upd', source_upd);
                        form48Data.append('status_upd', status_upd);
                        form48Data.append('priority_upd', priority_upd);
                        form48Data.append('description_upd', description_upd);
                        form48Data.append('comments_upd', comments_upd);





                        form48Data.append('data_id', data_id);
                           form48Data.append('mytasks_id', recordId );



                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "/update_mytasks_hr/",

                    data:form48Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  updated successfully:");
                        $('#update_mytasks_hr').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });


        });

  </script>



<script>

       $('[data-bs-target="#update_mytasks"]').on('click', function() {
          const recordId = $(this).data('record-id');


    // Make an AJAX request to fetch the existing data for the record
    $.ajax({
        type: "GET",
        url: "/mytasks_hr_get/" + recordId+"/", // Replace with your URL for fetching data
        success: function(response) {


            $("#title_upd").val(response.title_upd);
            $("#project_upd").val(response.project_upd);
            $("#assign_to_upd").val(response.assign_to_upd);
            $("#start_date_upd").val(response.start_date_upd);
            $("#end_date_upd").val(response.end_date_upd);
            $("#source_upd").val(response.source_upd);
            $("#status_upd").val(response.status_upd);
            $("#priority_upd").val(response.priority_upd);
            $("#description_upd").val(response.description_upd);
            $("#comments1").val(response.comments_upd);






            $('#update_mytasks_hr').modal('show');
        },
        error: function (xhr, status, error) {
            console.error("Error fetching designation data:", error);
        }
    });
});

</script>

<script>
        window.onload = function() {
            var minDate = new Date();
            var formattedMinDate = minDate.toISOString().split('T')[0];
            document.getElementById("start_date").setAttribute("min", formattedMinDate);
            document.getElementById("end_date").setAttribute("min", formattedMinDate);

        };
    </script>


{%endblock%}