
 {%extends "hr/base.html"%}

 {%block content%}
  {% load static %}



<style>

    .inactive {
        color: red;
    }
</style>

  <head>

        <title>samrt hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!-- Add Bootstrap CSS link -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <style>




body {
    font-family: 'Poppins';
}


table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600;
}

        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{

  color:red;
}




#general{
  color: orange;
}









    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>

<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke;padding-top: 32px; padding-right: 10px; padding-bottom: 30px; padding-left: 30px;" >




                        <h4><b style="font-family:math;padding-top:10%;color:blue">List Of Employees</b></h4><hr>





<div class="users-table table-wrapper mt-3">
             <table id="example" class="display mt-5">
                <thead>
                  <tr class="users-table-info">
                      <th style="background-color:#EDECEA;">S.NO</th>
                    <th style="background-color:#EDECEA;">Name</th>
                                            <th style="background-color:#EDECEA;">Department</th>

                      <th style="background-color:#EDECEA;">Emp_ID</th>
                    <th style="background-color:#EDECEA;">Email</th>
                    <th style="background-color:#EDECEA;">Shift</th>

                      <th style="background-color:#EDECEA;">Role</th>
                  </tr>
                </thead>
                <tbody>
                {%for i in data%}

                  <tr style="font-size: 95%;">
                      <td>{{ forloop.counter }}</td>

                      <td>
        {% if not i.user.is_active %}
            <span class="inactive" style="color:red">{{i.fullname|upper}}</span>
        {% else %}
            {{i.fullname|upper}}
        {% endif %}
    </td>



                      <td>
        {% if not i.user.is_active %}
            <span class="inactive" style="color:red">{{ i.Department }}</span>
        {% else %}
            {{ i.Department }}
        {% endif %}
    </td>

                      <td>
        {% if not i.user.is_active %}
            <span class="inactive" style="color:red">{{i.EmployeeID}}</span>
        {% else %}
            {{i.EmployeeID}}
        {% endif %}
    </td>

                      <td>
        {% if not i.user.is_active %}
            <span class="inactive" style="color:red">{{i.user.email}}</span>
        {% else %}
            {{i.user.email}}
        {% endif %}
    </td>


                      <td>
        {% if not i.user.is_active %}
            <span class="inactive" style="color:red">{{ i.Shift_time }}</span>
        {% else %}
            {{ i.Shift_time }}
        {% endif %}
    </td>





                       <td class="{% if not i.user.is_active %}inactive{% endif %}">
    {% if i.user.is_manager == True %}
        <span>Manager</span><br>
    {% elif i.user.is_hr == True %}
        <span>HR</span><br>
    {% elif i.user.is_employee == True %}
        <span>Employee</span><br>
    {% else  %}
        <span>None</span>
    {%endif%}
</td>





                    <!--td><span class="badge-pending">Pending</span></td> -->



                  </tr>
                    {%endfor%}
                </tbody>
              </table>
            </div>
          </div>


</div>
    </section>
     </main>
</html>

 <script>
     new DataTable('#example');
 </script>




 {%endblock%}