
 {%extends 'base1.html'%}

{%block content%}

<head>
    <style>



body {
    font-family: 'Poppins' !important ;
}


table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600 !important;
}



        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{
  color:red;
}




#general{
  color: orange;
}


.modal-backdrop{
    --bs-backdrop-bg: #00000094;
}








    </style>



    <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
</head>



<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke;padding-top: 30px; padding-right: 70px; padding-bottom: 50px; padding-left: 50px;" >


          <h3 class="pt-3 ml-3" style="color:#FF1493;padding-top:1px;font-family:math"><b>Tickets Reports</b></h3><hr>



<!--Table-->
<table id="example" class="display mt-5">

  <!--Table head-->
  <thead>
    <tr>
     <th style="background-color:#EDECEA;">Title</th>
       <th style="background-color:#EDECEA;">Date</th>
     <th style="background-color:#EDECEA;">Time</th>
     <th style="background-color:#EDECEA;">Priority</th>
         <th style="background-color:#EDECEA;width:35%">Description</th>
         <th style="background-color:#EDECEA;">Status</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    {% for ticket_request in ticket_requests %}
    <tr class="" style="font-size: 95%;">
                <td>{{ ticket_request.title }}</td>
                <td>{{ ticket_request.date }}</td>
                <td>{{ ticket_request.time }}</td>
                <td>{{ ticket_request.priority }}</td>
                <td>{{ ticket_request.description }}</td>


        {% if ticket_request.status == "Solved" %}
          <td><span class="badge bg-success">{{ ticket_request.status }}</span></td>

           {% elif ticket_request.status == "Un Solved" %}
          <td><span class="badge bg-danger">{{ ticket_request.status }}</span></td>

          {% elif ticket_request.status == "In Progress" %}
          <td><span class="badge bg-info">{{ ticket_request.status }}</span></td>
          {% elif ticket_request.status == "Pending" %}

           <td><span class="badge bg-warning">{{ ticket_request.status }}</span></td>


           {%endif%}

            </tr>
            {% endfor %}

  </tbody>
  <!--Table body-->


</table>



        </div>
      </div>
    </section>

  </main><!-- End #main -->
 <script>
     new DataTable('#example');
 </script>

 {%endblock%}