








 {%extends 'base1.html'%}

{%block content%}










<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12">

          <div class="card" style="height:800px">



<!DOCTYPE html>


<html>
<head>
    <title style="color:blue;">Permission Request Submitted</title>
</head>
<body>
    <h1 style="color:blue;">Permission Request Submitted</h1>
    <p>Your permission request has been successfully submitted. You will be notified once it is approved. <span></span></p>
</body>
</html>

   </div>
		</div>
	</section>
</main>
  {%endblock%}