
 {%extends 'hr/base.html'%}

{%block content%}






<style>
/* Style the custom select container */
.custom-select {
  position: relative;
}

/* Style the select wrapper to create a custom dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;




  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the select element to make it transparent and positioned over the custom dropdown */
.custom-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select element transparent */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the custom dropdown arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 8px;
}

/* Style the custom dropdown when it's focused or hovered */
.select-wrapper:hover,
.select-wrapper:focus {
  border-color: #007bff; /* Change border color on hover or focus */
}



</style>




  <head>

        <title>samrt hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>



<!-- Add Bootstrap CSS link -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <style>



        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{
  color:red;
}




#general{
  color: orange;
}

table{
  border:1px solid black;
   }





.modal-backdrop{
    --bs-backdrop-bg: #00000094;
}




    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>
















<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

<div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke; height:800px; padding-top: 50px; padding-right: 1px; padding-bottom: 50px; padding-left: 50px;" >







<div class="col-xl-12">
    <div class="tab-content" id="v-pills-tabContent">



                         <div class="tab-pane fade show active" id="v-pills-Resignation" role="tabpanel" aria-labelledby="v-pills-Resignation-tab" tabindex="0" style=" padding-top: 10px; padding-right: 40px; padding-bottom: 50px; padding-left: 2px;">

                          <h3 style="color:#1E7CCF ;font-family:math"><b>Resignation</b></h3>
                         <hr>





                                         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resignation">
                                             Add Resignation
                                           </button><p></p>

                                           <div class="table-responsive">
                                           <table id="resignation-table" class="table ">
                                           <thead>
                                           <tr>
                                           <th style="background-color:#EDECEA;">Employee</th>
                                           <th style="background-color:#EDECEA;">Company</th>
                                           <th style="background-color:#EDECEA;">Department</th>
                                           <th style="background-color:#EDECEA;">Resignation Date</th>
                                           <th style="background-color:#EDECEA;">Notice Date</th>
                                           <th style="background-color:#EDECEA;" class="not-exported">action</th>
                                           </tr>
                                           </thead>




      <tbody>
                      {%for resignation in data26%}



                          <tr>
                          <td>{{resignation.employee.username}}

                          </td>
                           <td>{{resignation.company.name}}

                          </td>
                              <td>{{resignation.department.department}}

                          </td>
                           <td>{{resignation.resignation_date}}

                          </td>
                              <td>{{resignation.notice_date}}

                          </td>




                          <td>
                                  <span class="p-relative">

                     <!-- <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                        <ul class="users-item-dropdown dropdown">-->

                          <button type="button" data-bs-toggle="modal" data-bs-target="#update_resignation" data-record-id="{{resignation.id}}" value="{{resignation.id}}" style="
    background-color: #1E7CCF;border-radius:5px;border:none;
"><i class="fa fa-pencil-square-o" style="font-size:27px;color:#FFF;"></i></button>


                <button type="button" data-bs-toggle="modal" data-bs-target="#delete_resignation" data-record-id="{{resignation.id}}" value="{{resignation.id}}" style="background-color:red;border-radius:5px;border:none;"><i class="fa fa-trash" style="font-size:27px;color:#fff;"></i></button>


                                   </span>
                          </td>
                      </tr>
                      {%endfor%}
                   </tbody>



                                           </table>
                                           </div>




                                           <div class="modal fade model-centered custom-modal" id="resignation"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                             <div class="modal-dialog modal-lg">
                                               <div class="modal-content">
                                                 <div class="modal-header">
                                                   <h1 class="modal-title fs-5" id="exampleModalLabel">Resignation</h1>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body">

                                                   <form method="post" id="resignation_sample_form" class="form-horizontal" autocomplete="off">
                                                       {% csrf_token %}

                                                   <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
                                                   <div class="row">


                                                  <div class="col-md-6 form-group">
    <label><b>Company</b><span class="star">*</span></label>
                                                      <div class="select-wrapper">
    <select id="company_resignation" name="company" class="form-control" required>
      <option value="" disabled selected>Company</option>
        {% for i1 in data22 %}
            <option value="{{ i1.id }}">{{ i1.name }}</option>
        {% endfor %}
    </select>
                                                      </div>
    <span style="color:red"  class="error-message" id="country-error"></span>
    </div>


<div class="col-md-6 form-group">
    <label><b>Department</b><span class="star">*</span></label>
    <div class="select-wrapper">
    <select id="department_resignation" name="department" class="form-control" required>
      <option value="" disabled selected>Department</option>
           {% for i2 in data19 %}
            <option value="{{ i2.id }}">{{ i2.department }}</option>
        {% endfor %}
    </select>
    </div>
    <span style="color:red"  class="error-message" id="department-error"></span>
    </div>

<div class="col-md-6 form-group">
    <label><b>Employee</b><span class="star">*</span></label>
    <div class="select-wrapper">
    <select id="employee_resignation" name="employee" class="form-control" required>
      <option value="" disabled selected>Employee</option>
           {% for i in data1 %}
           {% if i.id != request.user.id %}
            <option value="{{ i.id }}">{{ i.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
    </div>
    <span style="color:red"  class="error-message" id="employee-error"></span>
    </div>





                                                    <div class="col-md-6 form-group">
                                               <label><b>Notice Date</b><span class="star">*</span></label>
                                               <input type="date" name="notice date" id="notice_date" placeholder="Notice Date" title="" required="" class="form-control">
                                             </div>

                                                         <div class="col-md-6 form-group">
                                               <label><b>Resignation Date</b><span class="star">*</span></label>
                                               <input type="date" name="resignation date" id="resignation_date" placeholder="Resignation Date" title="" required="" class="form-control">
                                             </div>



                                               <div class="col-md-6 form-group">
                                               <label><b>Description</b></label>
                                               <input type="text" name="description" id="description_resignation" placeholder="Description" title="" class="form-control">
                                             </div>






                                                 <div class="container">
                                                 <div class="form-group" align="center">
                                                 <input type="hidden" name="action" id="resignation_action">
                                                 <input type="hidden" name="hidden_id" id="resignation_hidden_id">
                                                 <input type="submit" name="action_button" id="resignation_action_button" class="btn btn-warning" value="Add">
                                                 </div>
                                                 </div>
                                                 </div>


                                                    </form>




                                                 </div>
                                                 <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                     </div>
                                               </div>
                                             </div>
                                           </div>
                                           </div>







                             <div class="modal fade model-centered custom-modal" id="update_resignation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_upd">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                                                                                                     <form method="post" id="resignation_sample_form_upd" class="form-horizontal" autocomplete="off">
                                                       {% csrf_token %}

                                                   <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
                                                   <div class="row">


                                                  <div class="col-md-6 form-group">
    <label><b>Company</b><span class="star">*</span></label>
                                                      <div class="select-wrapper">
    <select id="company_resignation_upd" name="company" class="form-control" required>
      <option value="" disabled selected>Company</option>
        {% for i1 in data22 %}
            <option value="{{ i1.id }}">{{ i1.name }}</option>
        {% endfor %}
    </select>
                                                      </div>
    <span style="color:red"  class="error-message" id="country_upd-error"></span>
    </div>


<div class="col-md-6 form-group">
    <label><b>Department</b><span class="star">*</span></label>
    <div class="select-wrapper">
    <select id="department_resignation_upd" name="department" class="form-control" required>
      <option value="" disabled selected>Department</option>
           {% for i2 in data19 %}
            <option value="{{ i2.id }}">{{ i2.department }}</option>
        {% endfor %}
    </select>
    </div>
    <span style="color:red"  class="error-message" id="department_upd-error"></span>
    </div>

<div class="col-md-6 form-group">
    <label><b>Employee</b><span class="star">*</span></label>
    <div class="select-wrapper">
    <select id="employee_resignation_upd" name="employee" class="form-control" required>
      <option value="" disabled selected>Employee</option>
           {% for i in data1 %}
                {% if i.id != request.user.id %}

            <option value="{{ i.id }}">{{ i.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
    </div>
    <span style="color:red"  class="error-message" id="employee_upd-error"></span>
    </div>





                                                    <div class="col-md-6 form-group">
                                               <label><b>Notice Date</b><span class="star">*</span></label>
                                               <input type="date" name="notice date" id="notice_date_upd" placeholder="Notice Date" title="" required="" class="form-control">
                                             </div>

                                                         <div class="col-md-6 form-group">
                                               <label><b>Resignation Date</b><span class="star">*</span></label>
                                               <input type="date" name="resignation date" id="resignation_date_upd" placeholder="Resignation Date" title="" required="" class="form-control">
                                             </div>



                                               <div class="col-md-6 form-group">
                                               <label><b>Description</b></label>
                                               <input type="text" name="description" id="description_resignation_upd" placeholder="Description" title="" class="form-control">
                                             </div>


                                                 <div class="container">
                                                 <div class="form-group" align="center">
                                                 <input type="hidden" name="action" id="resignation_action_upd">
                                                 <input type="hidden" name="hidden_id" id="resignation_id">
                                                     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                                        <button type="submit" class="btn btn-primary">Update</button>
      </div>                                           </div>
                                                 </div>
                                                 </div>

                                                 </form>


      </div>

    </div>
  </div>
</div>





                           <div class="modal fade" id="delete_resignation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form method="post" id="resignation_delete_form">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_del">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h3> Are you sure you want to delete the Resignation Data ?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
        </form>
    </div>
  </div>
</div>

                       </div>
</div>
          </div>
        </div>
    </section>
</main>



<script>

        $(document).ready(function() {


             $("#resignation_sample_form").submit(function(event) {
                 event.preventDefault();

                 var company_resignation = $("#company_resignation").val();
                 var department_resignation = $("#department_resignation").val();
                 var employee_resignation = $("#employee_resignation").val();
                 var notice_date = $("#notice_date").val();
                 var resignation_date = $("#resignation_date").val();
                 var description_resignation = $("#description_resignation").val();






                    var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                    var data_id = $("#data_id").val();

                      var form26Data = new FormData();
                      form26Data.append('company_resignation', company_resignation);
                      form26Data.append('department_resignation', department_resignation);
                      form26Data.append('employee_resignation', employee_resignation);
                      form26Data.append('notice_date', notice_date);
                      form26Data.append('resignation_date', resignation_date);
                      form26Data.append('description_resignation', description_resignation);






                        form26Data.append('data_id', data_id);


                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "{% url 'resignation' %}",

                    data:form26Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  updated successfully:");
                       $('#resignation').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });
        });

  </script>


 <script>
     new DataTable('#resignation-table');
 </script>





<script>
   $(document).ready(function() {
           $('[data-bs-target="#update_resignation"]').on('click', function() {
           const recordId = $(this).data('record-id');
            $('#resignation_id').val(recordId);
  })


         $("#resignation_sample_form_upd").submit(function(event) {
                event.preventDefault();
                var company_resignation_upd = $("#company_resignation_upd").val();
                var department_resignation_upd = $("#department_resignation_upd").val();
                var employee_resignation_upd  = $("#employee_resignation_upd ").val();
                var notice_date_upd = $("#notice_date_upd").val();
                var resignation_date_upd = $("#resignation_date_upd").val();
                var description_resignation_upd = $("#description_resignation_upd").val();





                  var csrfToken = $("input[name='csrfmiddlewaretoken']").val();

                        var recordId = $('#resignation_id').val();

                      var form26Data = new FormData();
                      form26Data.append('company_resignation_upd', company_resignation_upd);
                      form26Data.append('department_resignation_upd', department_resignation_upd);
                        form26Data.append('employee_resignation_upd', employee_resignation_upd);
                        form26Data.append('notice_date_upd', notice_date_upd);
                        form26Data.append('resignation_date_upd', resignation_date_upd);
                        form26Data.append('description_resignation_upd', description_resignation_upd);



                           form26Data.append('resignation_id', recordId );



                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "/update_resignation/",

                    data:form26Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  updated successfully:");
                       $('#update_resignation').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });


        });

  </script>





<script>

       $('[data-bs-target="#update_resignation"]').on('click', function() {
          const recordId = $(this).data('record-id');


    // Make an AJAX request to fetch the existing data for the record
    $.ajax({
        type: "GET",
        url: "/resignation_get/" + recordId+"/", // Replace with your URL for fetching data
        success: function(response) {

            // Populate the form fields with the existing data
            $("#company_resignation_upd").val(response.company_resignation_upd);
            $("#department_resignation_upd").val(response.department_resignation_upd);
            $("#employee_resignation_upd").val(response.employee_resignation_upd);
            $("#notice_date_upd").val(response.notice_date_upd);
            $("#resignation_date_upd").val(response.resignation_date_upd);
            $("#description_resignation_upd").val(response.description_resignation_upd);






            $('#update_resignation').modal('show');
        },
        error: function (xhr, status, error) {
            console.error("Error fetching resignation data:", error);
        }
    });
});

</script>







<script>
$(document).ready(function() {
           $('[data-bs-target="#delete_resignation"]').on('click', function() {
    const recordId = $(this).data('record-id');
    $('#resignation_id').val(recordId);
  })


         $("#resignation_delete_form").submit(function(event) {
                event.preventDefault();

                        var recordId = $('#resignation_id').val();


                      var form26Data = new FormData();


                           form26Data.append('resignation_id', recordId );


            // Append file input to FormData

                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "/delete_resignation/",

                    data:form26Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  delete successfully:");
                        $('#delete_resignation').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });


        });

  </script>















{%endblock%}