








 {%extends 'base1.html'%}

{%block content%}










<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12">

          <div class="card" style="height:800px">



<!DOCTYPE html>


<html>
<head>
    <title style="color:blue;">Leave Request Submitted</title>
</head>

<body>
{% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                        <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></h5>
                     {% endfor %}
                        </ul>
                   {% endif %}
    <h1 style="color:blue;">Leave Request Submitted</h1>
    <p>Your leave request has been successfully submitted. You will be notified once it is approved. <span></span></p>
</body>
</html>

   </div>
		</div>
	</section>
</main>
  {%endblock%}