

{%extends 'base1.html'%}
{%load static%}
{%block content%}
<head>

<style media="screen">
  /* Add this CSS to your stylesheet */

/* Style for the legend items */
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

/* Style for the legend color squares */
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

/* Style for the calendar container */
#calendar {
    border: 2px solid #;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


 .fc-widget-content .fc-day {
    height: 20px; /* Adjust the height as needed */
}

</style>
    <style>

.festival-box {
    font-size: 35%;

}


.festival-box {
    color:green;

}

    </style>
<style>

  .fc-toolbar h2 {
    color: #0F0BF6;
    font-size:30px;
  }
</style>
<style>
/* Define CSS styles for grid lines */
.fc-view {
  border: 1px solid #ddd; /* Add borders to the calendar view */
}

/* Define CSS styles for the block box */
.event-block {
  border: 2px solid #333; /* Add a border to the block box */
  background-color: blue; /* Background color for the block box */
  position: absolute;
  z-index: 10000;
}

/* Style for long event titles */
.fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Show the block box on hover */
.fc-event:hover .event-block {
  display: block;
}
.festival-box {
  background-color: orange; /* Set the background color for festival boxes */
  padding: 5px;
  margin-top: 25px;
  border: 1px solid #ddd;
  color: white; /* Text color for festival boxes */
  font-weight: bold; /* Bold text for festival boxes */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) for long titles */
  position: relative; /* Use relative positioning */
  z-index: ; /* Ensure festival boxes are above the calendar cells */
}

</style>
<style>
  #calendar {
    font-size: 13px; /* Adjust font size as needed */
  }

  .fc-header-toolbar {
    padding: 0px; /* Adjust padding as needed */
  }
  .fc-basic-view .fc-body .fc-row {
    min-height: 0em;
}
</style>

<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>




<main id="main" class="main">

    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke;" >

      <div class="row" >


<style>
  /* Styles for the overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  /* Styles for the centered alert */
  .centered-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    text-align: center;
  }

  /* Styles for the OK button */
  .ok-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
</style>

<div id="overlay" class="overlay"></div>

<div id="centered-alert" class="centered-alert" style="width: 30%;
    padding: 50px;
    border-radius: 10px;
    border: none;
    font-family:math;
margin-left:6%">
  <p id="alert-content" style="color: red; font-size: 20px; font-family: Poppins;"></p>
  <button id="ok-button" class="ok-button">OK</button>
</div>

<script>
  {% for warning in warnings %}
    {% if warning.employee.id == request.user.id %}
      var description = "{{ warning.description|escapejs }}";
      var alertContent = document.getElementById("alert-content");
      var okButton = document.getElementById("ok-button");
      alertContent.textContent = description;
      document.getElementById("overlay").style.display = "block";
      document.getElementById("centered-alert").style.display = "block";

      // Close the alert when the "OK" button is clicked
      okButton.addEventListener("click", function() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("centered-alert").style.display = "none";
      });
    {% endif %}
  {% endfor %}
</script>



        <div class="col-md-12 col-lg-12 col-sm-12">

    <div class="card" style="border-radius: 8px;  padding-left: 10px">
        <div class="row">


            <div class="col-lg-8 col-md-8 col-sm-8">

<div class="row" style="padding-top:50px;">
<div class="col-md-7 form-group" style="list-style: none;display: table;margin-left:-10%">

<h6 style="display: table-row;" class="mt-5">
    <b style="display: table-cell; text-align: right;"><span style="color: #6954f1;">EMPLOYEE NAME</span></b>&nbsp; :&nbsp;
    <span style="color: #403b60"><b>{{emp_data.fullname|upper}}</b></span>
</h6><br>
<h6 style="display: table-row;">
    <b style="display: table-cell; text-align: right;"><span style="color: #6954f1">WORK TYPE</span></b> &nbsp;:&nbsp;
    <b>{{emp_data.Worktype|upper}}</b>
</h6><br>
<h6 style="display: table-row;">
    <b style="display: table-cell; text-align: right;"><span style="color: #6954f1">DEPARTMENT</span></b> &nbsp;:&nbsp;
    <b>{{emp_data.Department|upper}}</b>
</h6><br>
                <h6 style="display: table-row;"><b style="display: table-cell;text-align: right;"><span style="color: #6954f1">SHIFT</span></b>&nbsp;:&nbsp; <span style="color: #403b60"><b>{{emp_data.Shift_time|upper}}</b></span></h6><br>

    <div class="row" style="width: 88%;
    margin-left: 15%;">
        <div class="col-sm-6" style="margin-left: 47%;">

    <button id="punch-in"  {% if is_punch_in_present %}disabled{% endif %} name="action" value="Punch_In" class="btn btn-primary" style="width:110px;background-color:green;color:black">PunchIn</button>
    </div><div class="col-sm-6" style="margin-right: -51%">
        <button id="punch-out" name="action" value="Punch_Out" class="btn btn-danger" style="width:110px;background-color:red;color:black" disabled>PunchOut</button>
        </div></div>


</div>
    <div class="col-md-6 form-group" style="list-style: none;display: table; margin-right:1%">
        <h6 class="mt-5" style="display: table-row;"><b style="display: table-cell;text-align: right;"><span style="color: #6954f1">EMPLOYEE ID </span></b>&nbsp;:&nbsp; <span style="color: #403b60"><b>{{emp_data.EmployeeID|upper}}</b></span></h6><br>

<h6 style="display: table-row;">
    <b style="display: table-cell; text-align: right;"><span style="color: #6954f1">ROLE</span></b> &nbsp;:&nbsp;
    <b>{{emp_data.Role|upper}}</b>
</h6><br>
                <h6 style="display: table-row;"><b style="display: table-cell;text-align: right;"><span style="color: #6954f1">WORK LOCATION </span></b>&nbsp;:&nbsp;<span style="color: #403b60"> <b>{{emp_data.WorkLocation|upper}}</b></span></h6><br>
            <h6 style="display: table-row;"><b style="display: table-cell;text-align: right;"><span style="color: #6954f1">BIRTH DATE </span></b>&nbsp;: &nbsp;<span style="color: #403b60"><b>{{emp_data.BirthDate|upper}}</b></span></h6><br>
<div class="row" style="width:98%">
        <div class="col-sm-6" style="margin-left: 47%;">

<button id="break-in" name="action" value="Break_In" style="width:110px;background-color:green" class="btn btn-info" disabled>Break In</button>
        </div><div class="col-sm-6" style="margin-right: -51%">
<button id="break-out" name="action" value="Break_Out" class="btn btn-warning" style="width:110px;background-color:orange" disabled>Break Out</button>
</div></div>

    </div></div>







<div class="ml-5 text-center">
<p></p>

</div>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"><p></p>

                <img src="{{emp_data.image.url}}" alt="" class="" style="height: 212px; width: 241px; border-radius: 24px;margin-top:30px;"><br>

        </div>

    </div>
        {% for announcement in announcements%}
        <tr>

            <marquee style="color:green;font-size:20px;font-family:Poppins">{{announcement.description}}</marquee>
		</tr>
        {%endfor%}
              <p></p>

</div>




          </div>
          </div>

             <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12 col-xxl-12">

          <div class="row">

            <!-- Sales Card -->
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
              <div class="card info-card sales-card">



                <div class="card-body" style="height:170px">
                  <h3 class="card-title text-center" style="color:Violet;">TOTAL LEAVES  : 24.0</h3>
					<hr><br>

                  <div class="">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">

                    </div>
                    <div class="ps-3" >

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <h6 style="color:blue;margin-top:-8%"><b>CASUAL&nbsp&nbsp:&nbsp&nbsp</b><span style="color:red"><b>12.0</b></span></h6>
                            </div>
                              <div class="col-md-6 col-lg-6 col-sm-6">

                                  <h6 style="color:purple;margin-top:-8%"><b>MEDICAL&nbsp&nbsp:&nbsp&nbsp</b><span style="color:red"><b>12.0</b></span></h6>

                            </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>



            </div>


              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
              <div class="card info-card sales-card">



                <div class="card-body" style="height:170px">
                                     <h3 class="card-title text-center" style="color:DodgerBlue;">USED LEAVES : {{total_leaves_count.total_leaves_count}}</h3>

					<hr><br>


                  <div class="">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">

                    </div>
                    <div class="ps-3" >

                        <div class="row">
                            <div class="col-sm-6">
                                <h6 style="color:blue;padding-left:1px;margin-left:8%;margin-top:-13% "><b>CASUAL&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{total_leaves_count.casual_leave_count}}</b></span></h6>
                            </div>

                            <div class="col-sm-6">
                                <h6 style="color:blue;padding-left:1px;margin-left:-3%;margin-top:-13% "><b>EMERGENCY&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{total_leaves_count.emergency_leave_count}}</b></span></h6>
                            </div></div><p></p>
                        <div class="row">
                              <div class="col-sm-6">

                                  <h6 style="color:purple;margin-left:8%;margin-top:-10% "><b>MEDICAL&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{total_leaves_count.sick_leave_count}}</b></span></h6>

                            </div>
                            <div class="col-sm-6" style="margin-left:0%">

                                                              <h6 style="color:purple;margin-left:-3%;margin-top:-10%"><b>LOP&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{total_leaves_count.loss_of_pay}}</b></span></h6>

                            </div>



                        </div>

                    </div>
                  </div>
                </div>
              </div>



            </div>



              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
              <div class="card info-card sales-card">



                <div class="card-body" style="height:170px">
                                     {% if total_leaves_count %}
                                      <h5 class="card-title text-center" style="color:Orange;">REMAINING LEAVES :  {{usedleaves_count}}</h5>
                                     {% else %}
                                    <h5 class="card-title" style="color:Orange;">REMAINING LEAVES :  24</h5>
                                     {%endif%}					<hr><br>

                  <div class="">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">

                    </div>
                    <div class="ps-3" >



                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <h6 style="color:blue;padding-left:22px;margin-left:-10%;margin-top:-8%"><b>CASUAL&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{used_casual_leaves}}</b></span></h6>
                            </div>
                              <div class="col-md-6 col-lg-6 col-sm-6">

                                  <h6 style="color:purple;margin-left:-5%;margin-top:-8%"><b>MEDICAL&nbsp;&nbsp;:&nbsp;&nbsp;</b><span style="color:red"><b>{{used_medical_leave}}</b></span></h6>

                            </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>



            </div>



             </div>



          </div>
<p></p>






<br>








<div class="row" style="padding-left:3px;">

       <div class="col-md-4">
            <div class="widget box card" style="border: solid 2.8px #8d642261;">
                        <div class="widget-header" style="color:blue;background-color:white;position:center;padding-top: 15px; padding-bottom: 5px;">
                            <center><h4><b style="font-family:math">Upcoming Birthdays</b></h4></center>



                        </div>
                        <div class="widget-content" style="height: 275px; background-color:white;padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;">
                            <div>
	<table class="table table-striped table-bordered gvBirthday" cellspacing="0" rules="all" border="1" id="cphBody_gvBirthday" style="border-collapse:collapse;">
        <thead class="table-primary">
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th style="width:20%">Date</th>
            </tr>
    </thead>
		<tbody style="font-family:'Poppins';font-size:95%;">
        {%for birthday in birthdays %}
        <tr>
            <td><img src="{{birthday.image.url}}" style="width:50px;height:50px"></td>
            <td>{{birthday.fullname|capfirst}}</td>
            <td>{{birthday.BirthDate|date:"M d"}}</td>
		</tr>
        {%endfor%}
	</tbody></table>
</div>
                        </div>
                    </div>
                </div>


    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 12px">



                        <div id="calendar" style="min-height: 50px;padding-bottom:0%;padding-left:0%;padding-right:0%; border: solid 2.8px #8d642261; border-radius: 8px;  background-color: #fff;">

                        </div>

                    </div>








<div class="col-md-4">
            <div class="widget box card" style="border: solid 2.8px #8d642261;">
                        <div class="widget-header" style="color:blue;background-color:white;position:center;padding-top: 15px; padding-bottom: 5px;">
                            <center><h4><b style="font-family:math">Upcoming Holidays</b></h4></center>



                        </div>
                        <div class="widget-content" style="height: 275px; background-color:white;padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;">
                            <div>
	<table class="table table-striped table-bordered gvHoliday" cellspacing="0" rules="all" border="1" id="cphBody_gvHoliday" style="border-collapse:collapse;">
		<thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Date</th>
            </tr>
    </thead>
		<tbody style="font-family:'Poppins';font-size:95%;">
        {% for holiday in holidays%}
        <tr>
            <td>{{holiday.title}}</td>
            <td>{{holiday.date|date:"d/m/Y"}}</td>
		</tr>
        {%endfor%}
	</tbody></table>
</div>
                        </div>
                    </div>
                </div>
</div>




     <p></p>


<div class="row">


              <div class="col-md-6">
            <div class="widget box card" style="border: solid 2.8px #8d642261;">
                        <div class="widget-header" style="color:blue;background-color:white;position:center;padding-top: 15px; padding-bottom: 5px;">
                            <center><h4><b style="font-family:math">Upcoming Events</b></h4></center>



                        </div>
                        <div class="widget-content" style=" background-color:white;padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;">
                            <div>
	<table class="table table-striped table-bordered gEvents" cellspacing="0" rules="all" border="1" id="cphBody_gvEvents" style="border-collapse:collapse;">
		<thead class="table-primary">
        <tr>
            <th>Title</th>
            <th>Date</th>

            <th>Start Time</th>
            <th>End Time</th>
            </tr>
    </thead>
		<tbody style="font-family:'Poppins';font-size:95%;">
        {% for event in events%}
        <tr>
            <td>{{event.event_title}}</td>
            <td>{{event.event_date|date:"d/m/Y"}}</td>
            <td>{{event.start_time|date:"h:i A"}}</td>
            <td>{{event.event_time|date:"h:i A"}}</td>
		</tr>
        {%endfor%}
	</tbody></table>
</div>
                        </div>
                    </div>
                </div>


              <div class="col-md-6">
            <div class="widget box card" style="border: solid 2.8px #8d642261;">
               <div class="widget-header" style="color:blue;background-color:white;position:center;padding-top: 15px; padding-bottom: 5px;">
                  <center>
                     <h4><b style="font-family:math">Today Meetings</b></h4>
                  </center>
               </div>
               <div class="widget-content" style="background-color:white;padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;">
                  <div>
                     <table class="table table-striped table-bordered gEvents" cellspacing="0" rules="all" border="1" id="cphBody_gvMeetings" style="border-collapse:collapse;">
                        <thead class="table-primary">
                           <tr>
                              <th>Title</th>
            <th>Department</th>

            <th>Date</th>
            <th>Start Time</th>

            <th>End Time</th>
                           </tr>
                        </thead>
                        <tbody style="font-family:'Poppins';font-size:95%;">
                           {% for meeting in meetings%}
                           <tr>
                              <td>{{meeting.meeting_title}}</td>
                              <td>{{meeting.department.department}}</td>
                              <td>{{meeting.meeting_date|date:"d/m/Y"}}</td>
                              <td>{{meeting.meeting_time|date:"h:i A"}}</td>
                              <td>{{meeting.end_time|date:"h:i A"}}</td>
                           </tr>
                           {%endfor%}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
</div>
            </div>
        </div>
    </div>















                    </div>
                  </div>



    <!--<button type="submit" class ="button"  name="subject" value="PunchIn" id="punch-in-btn" style="background-color: #FF69B4;" >PunchIn</button>
    <button type="submit" class ="button" name="subject" value="Punch_Out" id="punch-out-btn" style="background-color: #FF69B4;" >PunchOut</button>
    <button type="submit" class ="button" name="subject"  value="Break_In"  id="break-in-btn" style="background-color: #008CBA;" >Break In</button>
    <button type="submit"  class ="button"  name="subject"  value="Break_Out" id="break-out-btn" style="background-color:  #f4511e">Break Out</button>-->



	</section>
</main>




                   <!-- Left side columns -->







  <script type="text/javascript" src="{% static 'js/fullcalander.js' %}"></script>
<script>
  $(document).ready(function () {
$.get("{% url 'verify_leave' %}", function (data) {
                if (data.is_leave_status) {

                  $("#punch-in")
                      .prop("disabled", true)


                       $("#break-out")
                      .prop("disabled", true)


                    //$("#break-out").prop("disabled", true).css("background-color", "#E0E0E0");

                     $("#break-in")
                     .prop("disabled", true)

                      $("#punch-out")
                      .prop("disabled", true)



                }
                });

  $.get("{% url 'punch_in' %}", function (data) {
                if (data.is_punch_in_present) {

                  $("#punch-in")
                      .prop("disabled", true)

                       $("#break-out")
                      .prop("disabled", true)

                    //$("#break-out").prop("disabled", true) .css("background-color", "#E0E0E0");

                     $("#break-in").prop("disabled", false);
                      $("#punch-out").prop("disabled", false);

                } else {
                $("#punch-in").click(function () {

                        console.log("Punch In");
                        var action = $(this).attr("value");



                        $("#punch-in")
                           .prop("disabled", true)

                             $("#break-out")
                           .prop("disabled", true)

                          // $("#break-out").prop("disabled", true) .css("background-color", "#E0E0E0");
                         $("#break-in").prop("disabled", false);
                         $("#punch-out").prop("disabled", false);


                         // alert("You have successfully logged in.");
                         $.ajax({
                                  type: "POST",
                                   url: "{% url 'punch' %}",
                                   data: {
                                           action: action,
                                          },
                                   success: function (response) {

                                   console.log("Action processed successfully!");
                                   $('#punch').modal('hide');
                                   location.reload();
                                   },
                                    error: function (xhr, status, error) {

                                   console.error("Error processing the action:", error);
                                    },
                                    });



                    });



                }
            });


             $.get("{% url 'punch_in' %}", function (data) {
                if (data.is_break_in_present) {
                $("#break-in")
    .prop("disabled", true)


                     $("#break-out").prop("disabled", false);
                      $("#punch-out").prop("disabled", false);

                } else {
                $("#break-in").click(function () {
                                var action = 'break_in';
                        console.log("Punch In");
                        var action = $(this).attr("value");


                            $(this)
    .prop("disabled", true)




                        //$(this).prop("disabled", true);
                         $("#break-out").prop("disabled",  false);

                         $("#punch-out").prop("disabled", false);
                         $.ajax({
                                  type: "POST",
                                   url: "{% url 'punch' %}",
                                   data: {
                                           action: action,
                                          },
                                   success: function (response) {
                                     console.log("Action processed successfully!");


                                    },
                                    error: function (xhr, status, error) {
                                   console.error("Error processing the action:", error);
                                    },
                                    });



                    });



                }
            });



             $.get("{% url 'punch_in' %}", function (data) {
                if (data.is_break_out_present) {
                $("#break-out")
    .prop("disabled", true)


                    $("#break-in").prop("disabled", false);

                      $("#punch-out").prop("disabled", false);

                    } else {
                    $("#break-out").click(function () {

                            var action = $(this).attr("value");



                            $(this)
        .prop("disabled", true)



                             $("#break-in").prop("disabled",  false);

                             $("#punch-out").prop("disabled", false);
                         $.ajax({
                                  type: "POST",
                                   url: "{% url 'punch' %}",
                                   data: {
                                           action: action,
                                          },

                                   success: function (response) {
                                   console.log("Action processed successfully!");

                                    },
                                    error: function (xhr, status, error) {
                                   console.error("Error processing the action:", error);
                                    },
                                    });
                    });



                }
            });



             $.get("{% url 'punch_in' %}", function (data) {
                if (data.is_punch_out_present) {
                $("#punch-in")
    .prop("disabled", true)

    $("#break-in")
    .prop("disabled", true)

    $("#break-out")
    .prop("disabled", true)

    $("#punch-out")
    .prop("disabled", true)





                } else {
                $("#punch-out").click(function () {

                        var action = $(this).attr("value");




                        $(this)
    .prop("disabled", true)

                        $("#break-in")
    .prop("disabled", true)

                        $("#break-out")
    .prop("disabled", true)
                        $("#punch-in")
    .prop("disabled", true)





                         $.ajax({
                                  type: "POST",
                                   url: "{% url 'punch' %}",
                                   data: {
                                           action: action,
                                          },
                                   success: function (response) {

                                   console.log("Action processed successfully!");
                                   $('#punch').modal('hide');
                                   location.reload();

                                    },
                                    error: function (xhr, status, error) {

                                   console.error("Error processing the action:", error);
                                    },
                                    });



                    });



                }
            });


});
</script>





<script>
$(document).ready(function() {
 const data = JSON.parse('{{ data_json|escapejs }}');

  $('#calendar').fullCalendar({
    header: {
      left: 'prev',
      center: 'title',
      right: 'next',
      height: 'auto',

    },
    defaultView: 'month',
    events: data.events,
    eventRender: function(event, element) {
      // Set a background color for the event date


      element.css({'background-color': 'green','padding-bottom':'1px'});


    },


    dayRender: function(date, cell) {
      var day = date.day();

      if (day === 0 || day === 6) {
        cell.css('background-color', 'lightblue');


      }

          const cellDate = date.format('YYYY-MM-DD');

        $.ajax({
        type: 'GET',
        url: "{%url 'fetch_festivals' %}",

        dataType: 'json',
        success: function(response) {
          const festivalsData = response.festivals;



      const festivalsInCell = festivalsData.filter(event => event.date === cellDate);

      festivalsInCell.forEach(festival => {
        const festivalBox = $('<div class="festival-box"></div>')
          .text(festival.title);

        cell.append(festivalBox);



      });


    },
     error: function(error) {
          console.error('Error fetching festival data:', error);
        }
      });
    },


  });
  $('.fc-day-top .fc-day-number').css({'padding-top': '10px','padding-right':'20px','height':'0px',
    });

    $('.fc-event-container  ').css({'padding-top': '30px'
    });

      $('.fc-center h2').css({
      'font-size': '25px',
              'font-weight': 'bold','font-family':'math'

});


});



  </script>


{%endblock%}