<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <style>
      #example {
        top: 40%;
        left: 25%;



        margin-top: -9em;
        margin-left: -15em;


        position: fixed;
      }
    </style>
<div class="form-gap"></div>
<div id="example" class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="background-color:#EDECEA;height:200px;width:600px;">
              <div class="panel-body">
                <div class="text-center">

                  <div class="panel-body">
                      <div class="card" style="height:100px;width:500px padding-left:30px;">


                    <form method="post">

                        <center><h1 style="color:green">password has successfully changed!</h1></center>

                       </form>

                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
