{%load crispy_forms_tags %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <style>
      #example {
        top: 40%;
        left: 25%;



        margin-top: -9em;
        margin-left: -15em;


        position: fixed;
      }
    </style>



<div class="form-gap"></div>
<div id="example" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h2 style="color:blue">Change Password </h2>
                  <div class="panel-body" >



                    <form method="post">
  {%csrf_token%}

  {{ form|crispy }}

                        <p></p>
  <button type="submit" class="btn btn-primary">Request for reset</button>
</form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
