

 {%extends 'hr/base.html'%}

{%block content%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


{%load static%}


<head xmlns="http://www.w3.org/1999/html">


<style>
/* Style the custom select container */
.custom-select {
  position: relative;
}

/* Style the select wrapper to create a custom dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;




  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the select element to make it transparent and positioned over the custom dropdown */
.custom-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select element transparent */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the custom dropdown arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 8px;
}

/* Style the custom dropdown when it's focused or hovered */
.select-wrapper:hover,
.select-wrapper:focus {
  border-color: #007bff; /* Change border color on hover or focus */
}



</style>


  <style>
        div.scroll {
            max-height: 500px;
            overflow: scroll;
        }

    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Progress - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet"  href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>






        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



<!-- Add Bootstrap CSS link -->


<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->












           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>


<style>
      .star {
        color: red; /* Set the color to red */
      }

body {
    font-family: 'Poppins' !important ;
}



b, strong {
    font-weight: 600 !important;
}
    </style>



  </head>





  <body>


<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke;height:1200px; padding-top: 20px; padding-right: 20px; padding-bottom: 50px; padding-left: 30px;" >




                        <div class="pt-4 pb-2">
                        <h5 class="card-title pb-0 fs-4" style="color:red;    padding-bottom: 2% !important"><i>ADD EMPLOYEE</i></h5>

                      </div>

    <form method="post" enctype="multipart/form-data" onsubmit="encryptPassword()">
        {%csrf_token%}
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

        <div class="col-12">
            <label for="fullName" class="form-label"><b>Full Name<span class="star">*</span></b></label>
          <input type="text" name="fullname" class="form-control" placeholder="Enter your FullName" id="fullname" required title="Alphabetic Characters" pattern="[A-Za-z ]+">
          <span style="color:red" class="error-message" id="fullname-error"></span>
        </div><br>

        <div class="col-12">
            <label for="Email" class="form-label"><b>Email<span class="star">*</span></b></label>
          <input type="email" name="email" class="form-control"  placeholder="Enter email" id="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <span style="color:red" class="error-message" id="email-error"></span>
        </div><br>



        <div class="col-12">

            <label for="gender" class="form-label"><b>Gender<span class="star">*</span></b></label>
            <div class="select-wrapper">
            <select id="gender" name="gender" class="form-control" required>
                <option  selected="selected" disabled>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select>
            </div>
             <span style="color:red"  class="error-message" id="gender-error"></span>
        </div><br>


          <div class="col-12">
              <label for="company" class="form-label"><b>Company</b><span class="star">*</span>
              </label>

              <div class="select-wrapper">
              <select id="company" name="company" class="form-control" required>
                  <option  selected="selected" disabled>Company</option>
                  <option value="Progment">Progment</option>
                  <option value="SmartNCode">SmartNCode</option>
              </select>
              </div>
              <span style="color:red"  class="error-message" id="company-error"></span>
          </div><br>


          <div class="col-12">
              <label for="department" class="form-label"><b>Department<span class="star">*</span></b></label>
              <div class="select-wrapper">
      <select id="department" name="department" class="form-control" required>
          <option selected="selected" disabled>Department</option>
        {% for department in departments %}
        <option value="{{department.id }}">{{department.department}}</option>
    {% endfor %}
      </select>
              </div>
      <span style="color:red" class="error-message" id="department-error"></span>
  </div><br>






          <div class="col-12">
              <label for="worktype" class="form-label"><b>Work Type</b><span class="star">*</span>
              </label>
            <div class="select-wrapper">
              <select id="worktype" name="worktype" class="form-control" required>
                  <option  selected="selected" disabled>Work Type </option>
                  <option value="Full Time">Full Time</option>
                  <option value="Part Time">Part Time</option>
              </select>
</div>
              <span style="color:red"  class="error-message" id="worktype-error"></span>

          </div><br>




          <div class="col-12">
              <label class="form-label"><b>Username<span class="star">*</span></b></label>
              <input type="text" id="id_username" name="username" class="form-control" placeholder="Enter Username" required>
              <span style="color:red" class="error-message" id="username-error"></span>
          </div><br>



        <div class="col-12">
            <label class="form-label"><b>Password<span class="star">*</span></b></label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">
            <input type="hidden" id="encrypted_password" name="encrypted_password">
            <span style="color:red" class="error-message" id="password-error"></span>
        </div><br>



         <div class="col-12">
            <label for="ConformPassword" class="form-label"><b>Confirm Password<span class="star">*</span></b></label>
            <input type="password" name="conformpassword" class="form-control" placeholder="Conform Password" id="conformPassword" >

            <span style="color:red" class="error-message" id="conform-password-error"></span>
          </div><br>




      <div class="col-12">
        <label for="profile_photo" ><b>Profile</b></label>
        <input type="file" id="profile_photo" class="form-control " name="profile_photo" placeholder="Upload">
    </div>


</div>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                 <div class="col-12">
                   <label for="employeeid" class="form-label"><b>EmployeeID<span class="star">*</span></b></label>
                   <input type="text" name="employeeid" class="form-control" id="employeeid" placeholder="Enter EmployeeID" title="Maximum length is 9" required pattern="\d{1,9}">
                     <span style="color:red" class="error-message" id="employeeid-error"></span>
                 </div><br>

                 <div class="col-12">
                     <label class="form-label"><b>Date Of Birth<span class="star">*</span></b></label>
                   <input type="date" name="dob" class="form-control" id="dob" required>
                        <span style="color:red" class="error-message" id="dateofbirth-error"></span>

                 </div><br>
                   <div class="col-12">
                   <label for="dateofjoining" class="form-label"><b>Date Of Joining<span class="star">*</span></b></label></label>
                   <input type="date" name="dateofjoining" class="form-control"  placeholder="Enter DateOfJoining" id="dateofjoining" required>
                      <span style="color:red" class="error-message" id="dateofjoining-error"></span>
                 </div>	<br>



                 <div class="col-12">

                <label for="role"><b>
   Role<span class="star">*</span></b></label>
 <div class="select-wrapper">

   <select id="role" name="role" class="form-control" required="required" >
       <option  selected="selected" disabled>Role</option>
       <option value="Trainee">Trainee</option>
       <option value="Developer">Developer</option>
    <option value="Senior Developer">Senior Developer</option>
      <option value="Team Lead">Team Lead</option>
     <option value="Manager">Manager</option>

   </select>
 </div>
                     <span style="color:red" class="error-message" id="role-error"></span>
                 </div><br>


    <div class="col-12">
        <label for="shift" class="form-label"><b>Shift Time  <span class="star">*</span></b></label>
      <div class="select-wrapper">
          <select name="shift" id="shift" class="form-control" required >
              <option  selected="selected" disabled>Shift Time</option>
                     <option value="9:30AM-7:00PM">9:30AM-7:00PM</option>
          <option value="2:00PM-10:00PM">2:00PM-10:00PM</option>
          <option value="6:00AM-2:00PM">6:00AM-2:00PM</option>
                        <option value="Customize">Customize</option>


                       </select>
      </div>
                        <span style="color:red" class="error-message" id="shift-error"></span>

                    </div><br>

                <div class="col-12">
               <label for="phonenumber" class="phonenumber"><b>Phone Number<span class="star">*</span></b></label>
               <input type="tel" name="phonenumber" class="form-control" id="phonenumber" pattern="[0-9+-() ]*" maxlength="10" placeholder="phone Number" required>
                <span style="color:red" class="error-message" id="phonenumber-error"></span>
                     </div><br>

    <div class="col-12">
          <label for="city" class="form-label"><b>City<span class="star">*</span></b></label>
          <input type="text" name="city" class="form-control" placeholder="Enter your City" id="city" required>
          <span style="color:red" class="error-message" id="city-error"></span>
        </div><br>
         <div class="col-12">
          <label for="pincode" class="form-label"><b>Pincode<span class="star">*</span></b></label>
          <input type="number" name="pincode" class="form-control" placeholder="Enter your City" id="pincode" required>
          <span style="color:red" class="error-message" id="pincode-error"></span>
        </div><br><br>










                    <div class="col-12">
<h5><strong>Please Select Your Designation <span class="star">*</span></strong></h5>
<input type="radio" id="manager" name="designation" value="manager">
<label for="manager">Manager</label><br>
<input type="radio" id="hr" name="designation" value="hr">
<label for="hr">Human Resource (HR)</label><br>
<input type="radio" id="employee" name="designation" value="employee" >
<label for="employee">Employee</label>
<span style="color:red" class="error-message" id="manager-error"></span>
</div><br>










</div></div><br>



















<div class ="text-center">
                                                        <a href="{%url 'emp_list' %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-right: -1px;">Cancel</button></a>


    <input type="submit" style="margin-right:-86%" class="btn btn-primary btn-block" value="Save"></div>
    </form>

  </div>

        </div>


    </section>


</main>



    <script>
      $(document).ready(function() {
        var currentDate = new Date().toISOString().split('T')[0];

            $("#dateofjoining").attr("max", currentDate);

        $("form").on("submit", function(event) {
          event.preventDefault();

          // Reset previous error messages
          $(".error-message").text("");

          // Validate fields
          var fullname = $("#fullname").val();
          var email = $("#email").val();
          var gender= $("#gender").val();
          var department=$("#department").val();
          var company=$("#company").val();
          var worktype=$("#worktype").val();
          var username = $("#id_username").val();
          var password = $("#id_password").val();
          var conform_password = $("#conformPassword").val();
          var employeeid = $("#employeeid").val();
          var dateofbirth = $("#dateofbirth").val();
          var dateofjoining = $("#dateofjoining").val();
          var shift=$("#shift").val();
          var designation = $("input[name='designation']:checked").val();
          var phoneNumber = $("#phonenumber").val();
          var errors = false;

          if (!fullname) {
            $("#fullname-error").text("Full Name field is required.");
            errors = true;
          } else {
            var regex = /^[A-Za-z\s]+$/;
            if (!regex.test(fullname)) {
              $("#fullname-error").text("**Full name should contain only characters (no numbers or special characters).");
              errors = true;
            }
          }

          if (!email) {
            $("#email-error").text("Email field is required.");
            errors = true;
          } else {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
              $("#email-error").text("**Invalid email format.");
              errors = true;
            }
          }


          if (!gender) {
          $("#gender-error").text("gender field is required.");
          errors = true;
        }

        if (!employeeid) {
            $("#employeeid-error").text("EmployeeID is required.");
            errors = true;
        }




        if (!dateofjoining){
          $("#dateofjoining-error").text("Date of Joining is required.");
          errors = true;

        }





        if (!department) {
        $("#department-error").text("department field is required.");
        errors = true;
      }



        if (!company) {
        $("#company-error").text("company field is required.");
        errors = true;
      }



       if (!worktype) {
        $("#worktype-error").text("worktype  field is required.");
        errors = true;
      }


      if (!username) {
        $("#username-error").text("Username field is required.");
        errors = true;
      } else if (username.length < 6) {
        $("#username-error").text("Username must be at least 6 characters long.");
        errors = true;
      } else {
        var regex = /^[A-Za-z]+$/;
        if (!regex.test(username)) {
          $("#username-error").text("Username should contain only characters (no numbers or special characters).");
          errors = true;
        }
      }

  if (!password) {
        $("#password-error").text("Password field is required.");
        errors = true;
      } else if ((password.length) <10) {
        $("#password-error").text("Password at  least 10 characters long.");
        errors = true;
      } else {
        // Check for at least one uppercase letter, one lowercase letter, and one special character
        var uppercaseRegex = /[A-Z]/;
        var lowercaseRegex = /[a-z]/;
        var specialRegex = /[!@#$%^&*()_+{}\[\]:;<>,.?~`\-=/\\|]/;

        if (!uppercaseRegex.test(password) || !lowercaseRegex.test(password) || !specialRegex.test(password)) {
          $("#password-error").text("Password must contain at least one uppercase letter, one lowercase letter, and one special character.");
          errors = true;
        }
      }
      if (!conform_password) {
        $("#conform-password-error").text("Conform Password field is required.");
        errors = true;
      } else if (conform_password !== password) {
        $("#conform-password-error").text("Passwords do not match.");
        errors = true;
      }



      if (!shift) {
        $("#shift-error").text("Shift field is required.");
        errors = true;

      }


      if (!designation) {
        $("#manager-error").text("Please select your designation.");
        errors = true;
      }


      if (!phoneNumber) {
        $("#phonenumber-error").text("PhoneNumber field is required.");
        errors = true;
      }





          if (!errors) {
            $("form")[0].submit();
          }


        });
      });
    </script>



<script>
function encryptPassword() {
    var plainPassword = document.getElementById('id_password').value;

    // Perform encryption here (replace this with your encryption logic)
    var encryptedPassword = btoa(plainPassword); // For demonstration, using Base64 encoding

    // Set the encrypted password as the value of the hidden input
    document.getElementById('encrypted_password').value = encryptedPassword;
}
</script>
<script>
    window.onload = function() {

        var maxDate = new Date();
        maxDate.setFullYear(maxDate.getFullYear() - 18);


        var formattedMaxDate = maxDate.toISOString().split('T')[0];


        document.getElementById("dob").setAttribute("max", formattedMaxDate);
    };
</script>

  </body>
</html>




{%endblock%}