{%extends 'hr/base.html'%}

{%block content%}
  <head>

        <title>samrt hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!-- Add Bootstrap CSS link -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <style>


        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{
  color:red;
}




#general{
  color: orange;
}



.modal-backdrop{
    --bs-backdrop-bg: #00000094;
}




body {
    font-family: 'Poppins';
}


table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600;
}




b, strong {
    font-weight: 600 !important;
}



    </style>


<style>
/* Style the custom select container */
.custom-select {
  position: relative;
}

/* Style the select wrapper to create a custom dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;




  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the select element to make it transparent and positioned over the custom dropdown */
.custom-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select element transparent */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the custom dropdown arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 8px;
}

/* Style the custom dropdown when it's focused or hovered */
.select-wrapper:hover,
.select-wrapper:focus {
  border-color: #007bff; /* Change border color on hover or focus */
}



</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>


<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

          <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke;  padding-top: 50px; padding-right: 1px; padding-bottom: 50px; padding-left: 50px;" >




<div class="col-xl-12">
    <div class="tab-content" id="v-pills-tabContent">



                         <div class="tab-pane fade show active" id="v-pills-Attendance" role="tabpanel" aria-labelledby="v-pills-Attendance-tab" tabindex="0" style=" padding-top: 10px; padding-right: 40px; padding-bottom: 50px; padding-left: 2px;">

                        <h3 style="color:blue ;font-family:math"><b>Attendance Reports</b></h3>
                         <hr>





                                         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#attendance">
                                             Filter
                                           </button><p></p>






























                                           <div class="table-responsive">


<table id="example" class="display mt-5" style="width:100%">

  <!--Table head-->


  <thead>
    <tr>

      <th style="background-color:#EDECEA;text-align:center">Date</th>


       <th style="background-color:#EDECEA;text-align:center">Entry Type</th>
        <th style="background-color:#EDECEA;text-align:center">Timings</th>
        <th style="background-color:#EDECEA;text-align:center">Status</th>

    </tr>
  </thead>
     <tbody>

    {% for record,values in d1.items %}
    <tr>
      <td style="font-family:auto"> {% if record.1 == "Present" %}
    <span style="color:blue">{{ record.0 }}</span>
          {%elif record.1 == "Leave" %}
              <span style="color:red">{{ record.0 }}</span>
      {%elif record.1 == "WeekOff" %}
              <span style="color:#009cff">{{ record.0 }}</span>

  {% else %}
    <span style="color:red">{{ record.0 }}</span>
  {% endif %}</td>
        <td align="center" style="font-family:inherit">
        {% for value in values %}

          {{ value.entry_type }}{% if not forloop.last %}|{% endif %}
        {% endfor %}
      </td>

      <td align="center" style="font-family:inherit">
        {% for value in values %}

          {{value.attendance_date|date:"H:i:s" }}{% if not forloop.last %}|{% endif %}
        {% endfor %}
      </td>
             <td align="center" style="font-family:serif">
  {% if record.1 == "Present" %}
    <span style="color:blue">{{ record.1 }}</span>
  {% elif record.1 == "Leave" %}
    <span style="color:red">{{ record.1 }}</span>
  {% else %}
    <span style="color:#009cff">{{ record.1 }}</span>
  {% endif %}
</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

                                           </div>




                                           <div class="modal fade model-centered custom-modal" id="attendance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                             <div class="modal-dialog modal-lg">
                                               <div class="modal-content">
                                                 <div class="modal-header">
                                                   <h1 class="modal-title fs-5" id="exampleModalLabel" style="">Attendance</h1>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body">

                                                   <form method="GET" class="form-horizontal" autocomplete="off" action="{% url 'hr_attendance'%}">

<div class="row">


                                                   <div class="col-md-4 form-group">
                                                       <label for="company"><b>Company:</b></label>
                                                       <div class="select-wrapper">
<select id="company" name="company" class="form-control" required>
    <option value="" selected disabled>Select a company</option>
    {% for company in companies %}
        <option value="{{ company.id }}">{{company.name}}</option>
    {% endfor %}
</select>
                                                       </div>
                                                         <span style="color:red" class="error-message" id="company_department-error"></span>




                                                   </div>










                                                 <div class="col-md-4 form-group">

<label for="department"><b>Department:</b></label>
                                                      <div class="select-wrapper">
<select id="department" name="department" class="form-control" required>
    <option value="" selected disabled>Select a department</option>
</select>
                                                      </div>
                                       <span style="color:red" class="error-message" id="department-error"></span>




                                                 </div>
    <div class="col-md-4 form-group">


<label for="employee"><b>Employee:</b></label>
         <div class="select-wrapper">
<select id="employee" name="employee" class="form-control" required>
    <option value="" selected disabled>Select an employee</option>
</select>
         </div>                                       <span style="color:red" class="error-message" id="employee-error"></span>






                                                 </div>
                                                                                                        </div>
                                                   <div class="row">


                                                   <div class="col-md-6 form-group">

                                                       <label for="from_date"><b>From Date:</b><span style="color:red" class="star">*</span></label>
        <input type="date" id="from_date" name="from_date" class="form-control w-75 mt-2" required>

                                                   </div>


                                                 <div class="col-md-6 form-group">

                                                     <label for="to_date"><b>To Date:</b><span style="color:red" class="star">*</span></label>
        <input type="date" id="to_date" name="to_date" class="form-control w-75 mt-2" required>

                                                 </div>
                                                                                                        </div>


















                                                 <div class="container" style="    margin-right: -43%;">
                                                 <div class="form-group" align="center">

                                                     <button type="submit" name="action_button" id="attendance_action_button" class="btn btn-success" > Get</button>
                                                 </div>
                                                 </div>


                                                    </form>








                                   </div>
        </div>
                                             </div></div></div></div></div></div></div>
    </section>
</main>


<script>
     new DataTable('#example');
 </script>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#company').change(function() {
        var company_id = $(this).val();
        if (company_id) {
         var url = "{% url 'get_departments' 0 %}".replace(0, company_id);
            $.get(url, function(data) {
                $('#department').html('<option value="" selected disabled>Select a department</option>');
                $.each(data, function(index, department) {
                    $('#department').append($('<option>', {
                        value: department[0],
                        text: department[1]
                    }));
                });
            });
        }
    });

    $('#department').change(function() {
        var department_id = $(this).val();
        if (department_id) {
        var url = "{% url 'get_employees' 0 %}".replace(0, department_id);
            $.get(url, function(data) {
                $('#employee').html('<option value="" selected disabled>Select an employee</option>');
                $.each(data, function(index, employee) {
                    $('#employee').append($('<option>', {
                        value: employee[0],
                        text: employee[1]
                    }));
                });
            });
        }
    });
});
</script>



{%endblock%}

















