



{%extends 'hr/base.html'%}

{%block content%}



<style>
/* Style the custom select container */
.custom-select {
  position: relative;
}

/* Style the select wrapper to create a custom dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;




  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the select element to make it transparent and positioned over the custom dropdown */
.custom-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select element transparent */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Style the custom dropdown arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 8px;
}

/* Style the custom dropdown when it's focused or hovered */
.select-wrapper:hover,
.select-wrapper:focus {
  border-color: #007bff; /* Change border color on hover or focus */
}



</style>





  <head>

        <title>samrt hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!-- Add Bootstrap CSS link -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <style>



        .nav-tabs li a {
            padding: 0.75rem 1.25rem;
        }

        .nav-tabs.vertical li {
            border: 1px solid #ddd;
            display: block;
            width: 100%
        }

.star{
  color:red;
}




#general{
  color: orange;
}

table{
  border:1px solid black;
   }


.modal-backdrop{
    --bs-backdrop-bg: #00000094;
}







    </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>





<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12 col-lg-4">

                    <div class="card" style="box-shadow:20px 20px 60px whitesmoke,-20px -20px 60px whitesmoke; height:800px; padding-top: 50px; padding-right: 1px; padding-bottom: 50px; padding-left: 50px;" >















<div class="col-xl-12">
                       <div class="tab-content" id="v-pills-tabContent">





  <div class="tab-pane fade show active" id="v-pills-Location" role="tabpanel" aria-labelledby="v-pills-Location-tab" tabindex="0" style=" padding-top: 10px; padding-right: 40px; padding-bottom: 50px; padding-left: 2px;">

      <h3 style="color:#1E7CCF ;font-family:math"><b>Location</b></h3>
  <hr>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#location">
  Add location
  </button><p></p>

  <div class="table-responsive">
  <table id="location-table" class="table">
  <thead>
  <tr>
  <th style="background-color:#EDECEA;">Location</th>
  <th style="background-color:#EDECEA;">Location Head</th>
  <th style="background-color:#EDECEA;">Address Line 1</th>
  <th style="background-color:#EDECEA;">Address Line 2</th>
  <th style="background-color:#EDECEA;">City</th>
  <th style="background-color:#EDECEA;">State</th>
  <th style="background-color:#EDECEA;">Country</th>
  <th style="background-color:#EDECEA;">ZIP</th>
  <th style="background-color:#EDECEA;" class="not-exported">action</th>
  </tr>
  </thead>



      <tbody>
                      {%for location in data18%}



                          <tr>
                          <td>{{location.location}}

                          </td>
                           <td>{{location.location_head}}

                          </td>
                           <td>{{location.address_line_1}}

                          </td>
                              <td>{{location.address_line_2}}

                          </td>
                           <td>{{location.city}}

                          </td>
                           <td>{{location.state}}

                          </td><td>{{location.country}}

                          </td>
                           <td>{{location.zip}}

                          </td>


                          <td>
                                  <span class="p-relative">

                     <!-- <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                              <i data-feather="more-horizontal" aria-hidden="true"></i>
                            </button>
                        <ul class="users-item-dropdown dropdown">-->
<div style="display: flex; justify-content: space-between;">
                          <button type="button" data-bs-toggle="modal" data-bs-target="#update_location" data-record-id="{{location.id}}" value="{{location.id}}" style=" margin-right: 2px;
    background-color: #1E7CCF;border-radius:5px;border:none;
"><i class="fa fa-pencil-square-o" style="font-size:27px;color:#FFF;"></i></button>


                <button type="button" data-bs-toggle="modal" data-bs-target="#delete_location" data-record-id="{{location.id}}" value="{{location.id}}" style="background-color:red;border-radius:5px;border:none; margin-left: 2px;"><i class="fa fa-trash" style="font-size:27px;color:#fff;"></i></button>
</div>

                                   </span>
                          </td>
                      </tr>
                      {%endfor%}
                   </tbody>



  </table>
  </div>



  <div class="modal fade model-centered custom-modal"  id="location"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
  <div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Location</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

  <form method="location_code" id="location_sample_form" class="form-horizontal" autocomplete="off">
      {% csrf_token %}

  <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
  <div class="row">



  <div class="col-md-6 form-group">
  <label><b>Location</b><span class="star">*</span></label>
  <input type="text" name="location" id="location_location" placeholder="Location" title="" required="" class="form-control">
  </div>





             <div class="col-md-6 form-group">
    <label><b>Location Head</b><span class="star">*</span></label>
                 <div class="select-wrapper">
    <select id="location_head_location" name="location head" class="form-control" required>
      <option value="" disabled selected>Location Head</option>
        {% for i in data1 %}
            <option value="{{ i.id }}">{{ i.username }}</option>
        {% endfor %}
    </select>
                 </div>
    <span style="color:red"  class="error-message" id="location_head-error"></span>
    </div>



      <div class="col-md-6 form-group">
      <label><b>Address Line 1</b><span class="star">*</span></label>
      <input type="text" name="address line 1" id="address_1_location" placeholder="Address Line 1" title="" required="" class="form-control">
      </div>


        <div class="col-md-6 form-group">
        <label><b>Address Line 2</b></label>
        <input type="text" name="address Line 2" id="address_2_location" placeholder="Address Line 2" title="" class="form-control">
        </div>


          <div class="col-md-6 form-group">
          <label><b>City</b><span class="star">*</span></label>
          <input type="text" name="city" id="city_location" placeholder="City" title="" required="" class="form-control">
          </div>

            <div class="col-md-6 form-group">
            <label><b>state</b><span class="star">*</span></label>
            <input type="text" name="state" id="state_location" placeholder="State" title="" required="" class="form-control">
            </div>



            <div class="col-md-6">
                <label><b>Country</b><span class="star">*</span></label>
                <div class="select-wrapper">
                <select id="country_location" name="country" class="form-control" required>
                  <option value="" disabled selected>Country</option>
                  <option value="India">India</option>
                  <option value="Others">Others</option>
                </select>
                </div>
                <span style="color:red"  class="error-message" id="country_head-error"></span>
                </div>


                <div class="col-md-6 form-group">
                <label><b>ZIP</b><span class="star">*</span></label>
                <input type="number" name="zip" id="zip_location" placeholder="ZIP" title="" required="" class="form-control">
                </div>


  <div class="container">
  <div class="form-group" align="center">
  <input type="hidden" name="action" id="location_action">
  <input type="hidden" name="hidden_id" id="location_hidden_id">
  <input type="submit" name="action_button" id="location_action_button" class="btn btn-warning" value="Add">
  </div>
  </div>
  </div>


  </form>




  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

  </div>
  </div>
  </div>
  </div>
  </div>



                            <div class="modal fade model-centered custom-modal" id="update_location" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_upd">Update</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

  <form method="location_code" id="location_sample_form_upd" class="form-horizontal" autocomplete="off">
      {% csrf_token %}

  <input type="hidden" name="_token" value="AbUR8GahIyj2UPK5OjVYJYkjmJC3lklimrYuSzHV">
  <div class="row">



  <div class="col-md-6 form-group">
  <label><b>Location</b><span class="star">*</span></label>
  <input type="text" name="location" id="location_location_upd" placeholder="Location" title="" required="" class="form-control">
  </div>

<div class="col-md-6 form-group">
    <label><b>Location Head</b><span class="star">*</span></label>
    <div class="select-wrapper">
    <select id="location_head_location_upd" name="location head" class="form-control" required>
      <option value="" disabled selected>Location Head</option>
        {% for i in data1 %}
            <option value="{{ i.id }}">{{ i.username }}</option>
        {% endfor %}
    </select>
    </div>
    <span style="color:red"  class="error-message" id="location_head_upd-error"></span>
    </div>



      <div class="col-md-6 form-group">
          <label><b>Address Line 1</b><span class="star">*</span></label>
      <input type="text" name="address line 1" id="address_1_location_upd" placeholder="Address Line 1" title="" required="" class="form-control">
      </div>


        <div class="col-md-6 form-group">
            <label><b>Address Line 2</b></label>
        <input type="text" name="address Line 2" id="address_2_location_upd" placeholder="Address Line 2" title="" class="form-control">
        </div>


          <div class="col-md-6 form-group">
          <label><b>City</b><span class="star">*</span></label>
          <input type="text" name="city" id="city_location_upd" placeholder="City" title="" required="" class="form-control">
          </div>

            <div class="col-md-6 form-group">
            <label><b>state</b><span class="star">*</span></label>
            <input type="text" name="state" id="state_location_upd" placeholder="State" title="" required="" class="form-control">
            </div>



            <div class="col-md-6">
                <label><b>Country</b><span class="star">*</span></label>
                <div class="select-wrapper">
                <select id="country_location_upd" name="country" class="form-control" required>
                  <option value="" disabled selected>Country</option>
                  <option value="India">India</option>
                  <option value="Others">Others</option>
                </select>
                </div>
                <span style="color:red"  class="error-message" id="country-error"></span>
                </div>


                <div class="col-md-6 form-group">
                <label><b>ZIP</b><span class="star">*</span></label>
                <input type="number" name="zip" id="zip_location_upd" placeholder="ZIP" title="" required="" class="form-control">
                </div>


  <div class="container">
  <div class="form-group" align="center">
  <input type="hidden" name="action" id="location_action_upd">
  <input type="hidden" name="hidden_id" id="location_id">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>


      <button type="submit" class="btn btn-primary">Update</button>
  </div>
  </div>
  </div>
  </div>

  </form>




            </div>

    </div>
  </div>
</div>

<div class="modal fade" id="delete_location" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form method="post" id="location_delete_form">
            {% csrf_token %}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_del">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h3> Are you sure you want to delete the Location Data ?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
        </form>
    </div>
  </div>
</div>
                       </div>
</div>
          </div>
        </div>
    </section>
</main>





<script>

        $(document).ready(function() {


             $("#location_sample_form").submit(function(event) {
                 event.preventDefault();
                 var location_location = $("#location_location").val();
                 var location_head_location = $("#location_head_location").val();
                 var address_1_location = $("#address_1_location").val();
                 var address_2_location = $("#address_2_location").val();
                 var city_location = $("#city_location").val();
                 var state_location = $("#state_location").val();
                 var country_location = $("#country_location").val();
                 var zip_location = $("#zip_location").val();




                    var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                    var data_id = $("#data_id").val();

                      var form18Data = new FormData();
                      form18Data.append('location_location', location_location);
                      form18Data.append('location_head_location', location_head_location);
                      form18Data.append('address_1_location', address_1_location);
                      form18Data.append('address_2_location', address_2_location);
                      form18Data.append('city_location', city_location);
                      form18Data.append('state_location', state_location);
                      form18Data.append('country_location', country_location);
                      form18Data.append('zip_location', zip_location);





                        form18Data.append('data_id', data_id);


                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "{% url 'location' %}",

                    data:form18Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  updated successfully:");
                         $('#location').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });
        });

  </script>


 <script>
     new DataTable('#location-table');
 </script>












<script>
   $(document).ready(function() {
           $('[data-bs-target="#update_location"]').on('click', function() {
           const recordId = $(this).data('record-id');
            $('#location_id').val(recordId);
  })


         $("#location_sample_form_upd").submit(function(event) {
                event.preventDefault();
                var location_location_upd = $("#location_location_upd").val();
                var location_head_location_upd = $("#location_head_location_upd").val();
                 var address_1_location_upd  = $("#address_1_location_upd ").val();
                 var address_2_location_upd = $("#address_2_location_upd").val();
                var city_location_upd = $("#city_location_upd").val();
                 var state_location_upd  = $("#state_location_upd ").val();
                 var country_location_upd = $("#country_location_upd").val();
                var zip_location_upd = $("#zip_location_upd").val();




                  var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                    var data_id = $("#data_id").val();
                        var recordId = $('#location_id').val();

                      var form18Data = new FormData();
                      form18Data.append('location_location_upd', location_location_upd);
                      form18Data.append('location_head_location_upd', location_head_location_upd);
                        form18Data.append('address_1_location_upd', address_1_location_upd);
                        form18Data.append('address_2_location_upd', address_2_location_upd);
                      form18Data.append('city_location_upd', city_location_upd);
                        form18Data.append('state_location_upd', state_location_upd);
                        form18Data.append('country_location_upd', country_location_upd);
                      form18Data.append('zip_location_upd', zip_location_upd);



                        form18Data.append('data_id', data_id);
                           form18Data.append('location_id', recordId );



                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "/update_location/",

                    data:form18Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  updated successfully:");
                         $('#update_location').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });


        });

  </script>






<script>

       $('[data-bs-target="#update_location"]').on('click', function() {
          const recordId = $(this).data('record-id');


    // Make an AJAX request to fetch the existing data for the record
    $.ajax({
        type: "GET",
        url: "/location_get/" + recordId+"/", // Replace with your URL for fetching data
        success: function(response) {

            // Populate the form fields with the existing data
            $("#location_location_upd").val(response.location_location_upd);
            $("#location_head_location_upd").val(response.location_head_location_upd);
            $("#address_1_location_upd").val(response.address_1_location_upd);
            $("#address_2_location_upd").val(response.address_2_location_upd);
            $("#city_location_upd").val(response.city_location_upd);
            $("#state_location_upd").val(response.state_location_upd);
            $("#country_location_upd").val(response.country_location_upd);
            $("#zip_location_upd").val(response.zip_location_upd);





            $('#update_location').modal('show');
        },
        error: function (xhr, status, error) {
            console.error("Error fetching designation data:", error);
        }
    });
});

</script>




<script>
$(document).ready(function() {
           $('[data-bs-target="#delete_location"]').on('click', function() {
    const recordId = $(this).data('record-id');
    $('#location_id').val(recordId);
  })


         $("#location_delete_form").submit(function(event) {
                event.preventDefault();

                        var recordId = $('#location_id').val();


                      var form18Data = new FormData();


                           form18Data.append('location_id', recordId );


            // Append file input to FormData

                      var csrfToken = $("input[name='csrfmiddlewaretoken']").val();




                 $.ajax({
                    type: "POST",
                    url: "/delete_location/",

                    data:form18Data,
                     processData: false,  // Prevent jQuery from processing data
                     contentType: false,
                     headers: {
                      "X-CSRFToken": csrfToken
                      },
                    success: function(response) {
                    console.log(response.first_name)
                       alert("data is  delete successfully:");
                        $('#delete_location').modal('hide');
                          location.reload();
                    },
                    error: function(xhr, status, error) {
                       console.error("Error updating item:", error);
                    }
                });
            });


        });

  </script>






{%endblock%}