













 {%extends 'hr/base.html'%}

{%block content%}
{% include 'hr/email/sideber.html' %}








  <head>

        <title>samrt hrms</title>
        <link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!-- Add Bootstrap CSS link -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<!-- Add Bootstrap JS scripts (jQuery and Popper.js are required) -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>






             <style>
.btn-group button {
  background-color: slateblue; /* Green background */
  border: 1px solid white; /* Green border */
  color: white; /* White text */
  padding: 20px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 20%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
   border-radius:15px;
  font-size:17px;
  font-weight:bold;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>
<style>
    table{
    border:1px solid black;
    }
    td{
    color:black;
    font-weight:bold;
padding:15px;
    border:1px solid #b7202054;
    }
</style>
link rel="stylesheet"  href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>



<main id="main" class="main">
    <section class="section profile">
        <div class="col-xl-12 col-lg-4">
            <div class="card" style="box-shadow: 20px 20px 60px whitesmoke, -20px -20px 60px whitesmoke; padding-top: 50px; padding-right: 1px; padding-bottom: 50px; padding-left: 50px;">


{% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                     <center><h6 style="height:50px;width:650px" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6></center>
                     {% endfor %}
                        </ul>
                   {% endif %}




       <div class="btn-group flex-column">
    <div class="row">
        <div class="col-sm-3">
             <a href="{%url 'compose' %}"><button class="bg-info" style="width:100%">Compose()</button></a>
             <a href="{%url 'receive_emails' %}"><button class="bg-primary" style="width:100%">Inbox({{received_emails_count}})</button></a>
   <a href="{%url 'sent_emails' %}"><button class="bg-success" style="width:100%">Sent<blink>({{sent_emails_count}})</blink></button></a>
      <a href="{%url 'delete_emails' %}"> <button class="bg-danger" style="width:100%">Delete({{delete_emails_count}})</button></a>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
            <h4>Deleted Emails</h4>


      <table id="email-table" class="table">

                                           <thead>
                                           <tr>
                                           <th style="background-color:#EDECEA;">sender</th>
                                           <th style="background-color:#EDECEA;">subject</th>
                                                <th style="background-color:#EDECEA;">message</th>
                                                <th style="background-color:#EDECEA;">Time</th>

                                           <th style="background-color:#EDECEA;" class="not-exported">Actions</th>
                                           </tr>
                                           </thead>


<tbody>
    {%for i in delete_emails %}



            {% for send in  i.sender.all %}
    {% if send.username == user.username %}
          <tr style="width:100%"><td>  <a href="{%url 'details_email' i.id %}"><b>{{ send.username|upper }}</b></a></td>
          {% endif %}
        {% endfor %}

             <td>{{i.subject|slice:'0:8'}}...</td>
                 <td>{{i.message|slice:'0:8'}}...</td>
              <td >{{i.timestamp|date:'d-m-Y H:i'}}..</td>

                 <td><i class="bi bi-reply"></i>&nbsp;

              <i class="bi bi-forward"></i></td>


</tr>



                &nbsp;

                {%endfor%}</tbody>





</table>
        </div>



        </div>
    </div>


</div>




            </div>
        </div>
    </section>
</main>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 <script>
     new DataTable('#email-table');
 </script>


 {%endblock%}
